In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [3]:
%matplotlib inline
pd.set_option('display.max_columns', None)
#pd.options.display.float_format = '{:.4f}%'.format - doesn't work, leaves decimal in wrong place

In [4]:
# import excel file 2018_TN_Turnout.xlsx
tn_2018_to=pd.read_excel('../data/TN_Voter_Turnout/turnout_xlsx/2018_TN_Turnout.xlsx')
tn_2018_to

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct,Unnamed: 9
0,2018-11-06,Anderson,46430,26310,0.5667,677,16766,0.6372,0.6630,NaN
1,2018-11-06,Bedford,23813,13148,0.5521,212,7402,0.5630,0.5791,NaN
2,2018-11-06,Benton,11117,5381,0.4840,117,3461,0.6432,0.6649,NaN
3,2018-11-06,Bledsoe,8352,4113,0.4925,94,1155,0.2808,0.3037,NaN
4,2018-11-06,Blount,83606,47305,0.5658,1075,28365,0.5996,0.6223,NaN
...,...,...,...,...,...,...,...,...,...,...
91,2018-11-06,Weakley,18203,10045,0.5518,209,5209,0.5186,0.5394,NaN
92,2018-11-06,White,15378,8523,0.5542,189,4708,0.5524,0.5746,NaN
93,2018-11-06,Williamson,156065,106046,0.6795,1906,73100,0.6893,0.7073,NaN
94,2018-11-06,Wilson,84828,53418,0.6297,755,35083,0.6568,0.6709,NaN
95,2018-11-06,Total,4163359,2267428,0.5446,43236,1343140,0.5924,0.6114,NaN

In [5]:
tn_2018_to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Electdate                      96 non-null     datetime64[ns]
 1   County                         96 non-null     object
 2   Registered Voters              96 non-null     int64
 3   Total Votes Cast               96 non-null     int64
 4   Voter Turnout Pct              96 non-null     float64
 5   Absentee By Mail Voters        96 non-null     int64
 6   Early Voters                   96 non-null     int64
 7   Early Voters Pct               96 non-null     float64
 8   Early and Absentee Voters Pct  96 non-null     float64
 9   Unnamed: 9                     0 non-null      float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 7.6+ KB

In [6]:
# import excel file 2016_TN_Turnout.xlsx
tn_2016_to=pd.read_excel('../data/TN_Voter_Turnout/turnout_xlsx/2016_TN_Turnout.xlsx')
tn_2016_to

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct,Unnamed: 9
0,2016-11-08,Anderson,47195,30509,0.6464,1050,20488,0.6715,0.7060,NaN
1,2016-11-08,Bedford,24887,15489,0.6224,282,10120,0.6534,0.6716,NaN
2,2016-11-08,Benton,10755,6388,0.5940,163,4304,0.6738,0.6993,NaN
3,2016-11-08,Bledsoe,8285,4755,0.5739,163,1403,0.2951,0.3293,NaN
4,2016-11-08,Blount,79595,53303,0.6697,1510,32949,0.6181,0.6465,NaN
...,...,...,...,...,...,...,...,...,...,...
91,2016-11-08,Weakley,18753,12365,0.6594,305,7381,0.5969,0.6216,NaN
92,2016-11-08,White,16144,10016,0.6204,255,5926,0.5917,0.6171,NaN
93,2016-11-08,Williamson,150089,108234,0.7211,2762,81124,0.7495,0.7750,NaN
94,2016-11-08,Wilson,80800,57466,0.7112,1003,41328,0.7192,0.7366,NaN
95,2016-11-08,Total,4110318,2545271,0.6192,64199,1625790,0.6387,0.6640,NaN

In [7]:
tn_2016_to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Electdate                      96 non-null     datetime64[ns]
 1   County                         96 non-null     object
 2   Registered Voters              96 non-null     int64
 3   Total Votes Cast               96 non-null     int64
 4   Voter Turnout Pct              96 non-null     float64
 5   Absentee By Mail Voters        96 non-null     int64
 6   Early Voters                   96 non-null     int64
 7   Early Voters Pct               96 non-null     float64
 8   Early and Absentee Voters Pct  96 non-null     float64
 9   Unnamed: 9                     0 non-null      float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 7.6+ KB

In [8]:
# import excel file 2014_TN_Turnout.xlsx
tn_2014_to=pd.read_excel('../data/TN_Voter_Turnout/turnout_xlsx/2014_TN_Turnout.xlsx')
tn_2014_to

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct,Unnamed: 9
0,2014-11-04,Anderson,48964,18693,0.3818,361,9296,0.4973,0.5166,NaN
1,2014-11-04,Bedford,24266,8069,0.3325,94,3479,0.4312,0.4428,NaN
2,2014-11-04,Benton,11728,3877,0.3306,60,2059,0.5311,0.5466,NaN
3,2014-11-04,Bledsoe,8971,2728,0.3041,63,559,0.2049,0.2280,NaN
4,2014-11-04,Blount,74119,30974,0.4179,414,11914,0.3846,0.3980,NaN
...,...,...,...,...,...,...,...,...,...,...
91,2014-11-04,Weakley,20725,7788,0.3758,127,3383,0.4344,0.4507,NaN
92,2014-11-04,White,16685,6348,0.3805,138,2766,0.4357,0.4575,NaN
93,2014-11-04,Williamson,139039,61428,0.4418,456,26033,0.4238,0.4312,NaN
94,2014-11-04,Wilson,77790,31603,0.4063,268,13966,0.4419,0.4504,NaN
95,2014-11-04,Total,3975587,1430117,0.3597,19519,614845,0.4299,0.4436,NaN

In [9]:
tn_2014_to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Electdate                      96 non-null     datetime64[ns]
 1   County                         96 non-null     object
 2   Registered Voters              96 non-null     int64
 3   Total Votes Cast               96 non-null     int64
 4   Voter Turnout Pct              96 non-null     float64
 5   Absentee By Mail Voters        96 non-null     int64
 6   Early Voters                   96 non-null     int64
 7   Early Voters Pct               96 non-null     float64
 8   Early and Absentee Voters Pct  96 non-null     float64
 9   Unnamed: 9                     0 non-null      float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 7.6+ KB

In [10]:
# import excel file 2012_TN_Turnout.xlsx
tn_2012_to=pd.read_excel('../data/TN_Voter_Turnout/turnout_xlsx/2012_TN_Turnout.xlsx')
tn_2012_to

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct,Unnamed: 9
0,2012-11-06,Anderson,49169,30046,0.6111,1038,17423,0.5799,0.6144,NaN
1,2012-11-06,Bedford,24291,14534,0.5983,273,7614,0.5239,0.5427,NaN
2,2012-11-06,Benton,12206,6335,0.5190,182,3825,0.6038,0.6325,NaN
3,2012-11-06,Bledsoe,8627,4477,0.5190,151,1209,0.2700,0.3038,NaN
4,2012-11-06,Blount,75550,49988,0.6617,1325,25481,0.5097,0.5362,NaN
...,...,...,...,...,...,...,...,...,...,...
91,2012-11-06,Weakley,21235,12622,0.5944,323,6322,0.5009,0.5265,NaN
92,2012-11-06,White,16727,9347,0.5588,273,4851,0.5190,0.5482,NaN
93,2012-11-06,Williamson,134610,96657,0.7181,2424,65194,0.6745,0.6996,NaN
94,2012-11-06,Wilson,75876,51780,0.6824,905,31132,0.6012,0.6187,NaN
95,2012-11-06,Total,4008654,2479733,0.6186,64323,1407021,0.5674,0.5933,NaN

In [11]:
tn_2012_to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Electdate                      96 non-null     datetime64[ns]
 1   County                         96 non-null     object
 2   Registered Voters              96 non-null     int64
 3   Total Votes Cast               96 non-null     int64
 4   Voter Turnout Pct              96 non-null     float64
 5   Absentee By Mail Voters        96 non-null     int64
 6   Early Voters                   96 non-null     int64
 7   Early Voters Pct               96 non-null     float64
 8   Early and Absentee Voters Pct  96 non-null     float64
 9   Unnamed: 9                     0 non-null      float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 7.6+ KB

In [12]:
# import excel file 2010_TN_Turnout.xlsx
tn_2010_to=pd.read_excel('../data/TN_Voter_Turnout/turnout_xlsx/2010_TN_Turnout.xlsx')
tn_2010_to

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct,Unnamed: 9
0,2010-11-02,Anderson,48430,19484,0.4023,419,9203,0.4723,0.4938,NaN
1,2010-11-02,Bedford,23824,9902,0.4156,106,3902,0.3941,0.4048,NaN
2,2010-11-02,Benton,12013,5094,0.4240,76,3115,0.6115,0.6264,NaN
3,2010-11-02,Bledsoe,8919,3897,0.4369,71,1039,0.2666,0.2848,NaN
4,2010-11-02,Blount,76591,30408,0.3970,397,11323,0.3724,0.3854,NaN
...,...,...,...,...,...,...,...,...,...,...
91,2010-11-02,Weakley,21297,9649,0.4531,60,4493,0.4656,0.4719,NaN
92,2010-11-02,White,15349,7141,0.4652,117,2917,0.4085,0.4249,NaN
93,2010-11-02,Williamson,124666,60887,0.4884,506,27337,0.4490,0.4573,NaN
94,2010-11-02,Wilson,68555,34850,0.5084,305,14747,0.4232,0.4319,NaN
95,2010-11-02,Total,3921527,1620542,0.4132,23466,718117,0.4431,0.4576,NaN

In [13]:
tn_2010_to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Electdate                      96 non-null     datetime64[ns]
 1   County                         96 non-null     object
 2   Registered Voters              96 non-null     int64
 3   Total Votes Cast               96 non-null     int64
 4   Voter Turnout Pct              96 non-null     float64
 5   Absentee By Mail Voters        96 non-null     int64
 6   Early Voters                   96 non-null     int64
 7   Early Voters Pct               96 non-null     float64
 8   Early and Absentee Voters Pct  96 non-null     float64
 9   Unnamed: 9                     0 non-null      float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 7.6+ KB

In [14]:
# import excel file 2008_TN_Turnout.xlsx
tn_2008_to=pd.read_excel('../data/TN_Voter_Turnout/turnout_xlsx/2008_TN_Turnout.xlsx')
tn_2008_to

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct
0,2008-11-04,Anderson,49174,31909,0.6489,1035,18252,0.5720,0.6044
1,2008-11-04,Bedford,23238,15667,0.6742,276,8229,0.5252,0.5429
2,2008-11-04,Benton,11634,6731,0.5786,169,4095,0.6084,0.6335
3,2008-11-04,Bledsoe,11828,4949,0.4184,114,1497,0.3025,0.3255
4,2008-11-04,Blount,73831,52466,0.7106,1383,25984,0.4953,0.5216
...,...,...,...,...,...,...,...,...,...
91,2008-11-04,Weakley,19920,13946,0.7001,238,6774,0.4857,0.5028
92,2008-11-04,White,15557,9855,0.6335,241,4968,0.5041,0.5286
93,2008-11-04,Williamson,121263,93964,0.7749,2014,70302,0.7482,0.7696
94,2008-11-04,Wilson,66733,51503,0.7718,751,26188,0.5485,0.5231
95,2008-11-04,Total,3946481,2618238,0.6634,63929,1516031,0.5790,0.6034

In [15]:
tn_2008_to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Electdate                      96 non-null     datetime64[ns]
 1   County                         96 non-null     object
 2   Registered Voters              96 non-null     int64
 3   Total Votes Cast               96 non-null     int64
 4   Voter Turnout Pct              96 non-null     float64
 5   Absentee By Mail Voters        96 non-null     int64
 6   Early Voters                   96 non-null     int64
 7   Early Voters Pct               96 non-null     float64
 8   Early and Absentee Voters Pct  96 non-null     float64
dtypes: datetime64[ns](1), float64(3), int64(4), object(1)
memory usage: 6.9+ KB

In [16]:
# import excel file 2006_TN_Turnout.xlsx
tn_2006_to=pd.read_excel('../data/TN_Voter_Turnout/turnout_xlsx/2006_TN_Turnout.xlsx')
tn_2006_to

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct
0,2006-11-07,Anderson,46983,23966,0.5101,679,11503,0.4800,0.5083
1,2006-11-07,Bedford,21092,10983,0.5207,113,4224,0.3846,0.3949
2,2006-11-07,Benton,11412,5716,0.5009,99,3344,0.5850,0.6023
3,2006-11-07,Bledsoe,11128,4063,0.3651,111,1054,0.2594,0.2867
4,2006-11-07,Blount,77121,36746,0.4765,725,11557,0.3145,0.3342
...,...,...,...,...,...,...,...,...,...
91,2006-11-07,Weakley,19557,10450,0.5343,125,4479,0.4286,0.4406
92,2006-11-07,White,15443,7923,0.5130,126,3383,0.4270,0.4429
93,2006-11-07,Williamson,108329,61600,0.5686,747,27254,0.4424,0.4546
94,2006-11-07,Wilson,58881,36321,0.6169,370,15901,0.4378,0.4480
95,2006-11-07,Total,3738703,1868363,0.4997,34545,850217,0.4551,0.4735

In [17]:
tn_2006_to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Electdate                      96 non-null     datetime64[ns]
 1   County                         96 non-null     object
 2   Registered Voters              96 non-null     int64
 3   Total Votes Cast               96 non-null     int64
 4   Voter Turnout Pct              96 non-null     float64
 5   Absentee By Mail Voters        96 non-null     int64
 6   Early Voters                   96 non-null     int64
 7   Early Voters Pct               96 non-null     float64
 8   Early and Absentee Voters Pct  96 non-null     float64
dtypes: datetime64[ns](1), float64(3), int64(4), object(1)
memory usage: 6.9+ KB

In [18]:
# import excel file 2006_TN_Turnout.xlsx
tn_2004_to=pd.read_excel('../data/TN_Voter_Turnout/turnout_xlsx/2004_TN_Turnout.xlsx')
tn_2004_to

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct,Unnamed: 9
0,2004-11-02,Anderson,45114,31920,0.7075,980,15197,0.4761,0.5068,NaN
1,2004-11-02,Bedford,19660,13922,0.7081,212,5799,0.4165,0.4318,NaN
2,2004-11-02,Benton,10413,7269,0.6981,194,3882,0.5340,0.5607,NaN
3,2004-11-02,Bledsoe,8715,4962,0.5694,95,1144,0.2306,0.2497,NaN
4,2004-11-02,Blount,71437,48723,0.6820,1236,16161,0.3317,0.3571,NaN
...,...,...,...,...,...,...,...,...,...,...
91,2004-11-02,Weakley,20795,13843,0.6657,207,5087,0.3675,0.3824,NaN
92,2004-11-02,White,14477,9717,0.6712,213,4149,0.4270,0.4489,NaN
93,2004-11-02,Williamson,100399,80024,0.7971,1714,45989,0.5747,0.5961,NaN
94,2004-11-02,Wilson,55913,44893,0.8029,659,21869,0.4871,0.5018,NaN
95,2004-11-02,Total,3704040,2456610,0.6632,54495,1107398,0.4508,0.4730,NaN

In [19]:
tn_2004_to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Electdate                      96 non-null     datetime64[ns]
 1   County                         96 non-null     object
 2   Registered Voters              96 non-null     int64
 3   Total Votes Cast               96 non-null     int64
 4   Voter Turnout Pct              96 non-null     float64
 5   Absentee By Mail Voters        96 non-null     int64
 6   Early Voters                   96 non-null     int64
 7   Early Voters Pct               96 non-null     float64
 8   Early and Absentee Voters Pct  96 non-null     float64
 9   Unnamed: 9                     0 non-null      float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 7.6+ KB

In [20]:
# import excel file 2002_TN_Turnout.xlsx
tn_2002_to=pd.read_excel('../data/TN_Voter_Turnout/turnout_xlsx/2002_TN_Turnout.xlsx')
tn_2002_to

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct
0,2002-11-05,Anderson,43954,23623,0.5374,453,8941,0.3785,0.3977
1,2002-11-05,Bedford,17497,10396,0.5942,105,3301,0.3175,0.3276
2,2002-11-05,Benton,10789,5780,0.5357,58,2846,0.4924,0.5024
3,2002-11-05,Bledsoe,8328,3674,0.4412,51,674,0.1835,0.1973
4,2002-11-05,Blount,60243,33588,0.5575,581,8745,0.2604,0.2777
...,...,...,...,...,...,...,...,...,...
91,2002-11-05,Weakley,20239,11154,0.5511,102,3771,0.3381,0.3472
92,2002-11-05,White,13971,7531,0.5390,92,2619,0.3478,0.3600
93,2002-11-05,Williamson,86467,52108,0.6026,465,18599,0.3569,0.3659
94,2002-11-05,Wilson,46363,31258,0.6742,242,11681,0.3737,0.3814
95,2002-11-05,Total,3347979,1687543,0.5040,29920,580536,0.3440,0.3588

In [21]:
tn_2002_to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Electdate                      96 non-null     datetime64[ns]
 1   County                         96 non-null     object
 2   Registered Voters              96 non-null     int64
 3   Total Votes Cast               96 non-null     int64
 4   Voter Turnout Pct              96 non-null     float64
 5   Absentee By Mail Voters        96 non-null     int64
 6   Early Voters                   96 non-null     int64
 7   Early Voters Pct               96 non-null     float64
 8   Early and Absentee Voters Pct  96 non-null     float64
dtypes: datetime64[ns](1), float64(3), int64(4), object(1)
memory usage: 6.9+ KB

In [22]:
# import excel file 2006_TN_Turnout.xlsx
tn_2000_to=pd.read_excel('../data/TN_Voter_Turnout/turnout_xlsx/2000_TN_Turnout.xlsx')
tn_2000_to

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct
0,2000-11-07,Anderson,42856,29096,0.6789,955,10406,0.3576,0.3905
1,2000-11-07,Bedford,18831,12249,0.6505,213,3736,0.3050,0.3224
2,2000-11-07,Benton,9821,6600,0.6720,41,2679,0.4059,0.4121
3,2000-11-07,Bledsoe,8039,4370,0.5436,101,782,0.1789,0.2021
4,2000-11-07,Blount,60519,40806,0.6743,1386,9481,0.2323,0.2663
...,...,...,...,...,...,...,...,...,...
91,2000-11-07,Weakley,19454,12298,0.6322,188,3921,0.3188,0.3341
92,2000-11-07,White,13358,8355,0.6255,140,2807,0.3360,0.3527
93,2000-11-07,Williamson,82620,59975,0.7259,1172,26790,0.4467,0.4662
94,2000-11-07,Wilson,45520,36453,0.8008,613,12225,0.3354,0.3522
95,2000-11-07,Total,3331971,2100241,0.6303,47954,749170,0.3567,0.3795

In [23]:
tn_2000_to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Electdate                      96 non-null     datetime64[ns]
 1   County                         96 non-null     object
 2   Registered Voters              96 non-null     int64
 3   Total Votes Cast               96 non-null     int64
 4   Voter Turnout Pct              96 non-null     float64
 5   Absentee By Mail Voters        96 non-null     int64
 6   Early Voters                   96 non-null     int64
 7   Early Voters Pct               96 non-null     float64
 8   Early and Absentee Voters Pct  96 non-null     float64
dtypes: datetime64[ns](1), float64(3), int64(4), object(1)
memory usage: 6.9+ KB

In [24]:
# make one big happy df "tn_2000_2018_to" (result = pd.concat([df1, df4], ignore_index=True, sort=False))
tn_2000_2018_to=pd.concat([tn_2018_to, tn_2016_to, tn_2014_to, tn_2012_to, tn_2010_to, tn_2008_to, tn_2006_to,
                           tn_2004_to, tn_2002_to, tn_2000_to], ignore_index=True, sort=False)
#tn_2000_2018_to=pd.merge(tn_2018_to, tn_2016_to,on="County")
#tn_2000_2018_to=tn_2018_to.append(tn_2016_to, sort=False)
tn_2000_2018_to

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct,Unnamed: 9
0,2018-11-06,Anderson,46430,26310,0.5667,677,16766,0.6372,0.6630,NaN
1,2018-11-06,Bedford,23813,13148,0.5521,212,7402,0.5630,0.5791,NaN
2,2018-11-06,Benton,11117,5381,0.4840,117,3461,0.6432,0.6649,NaN
3,2018-11-06,Bledsoe,8352,4113,0.4925,94,1155,0.2808,0.3037,NaN
4,2018-11-06,Blount,83606,47305,0.5658,1075,28365,0.5996,0.6223,NaN
...,...,...,...,...,...,...,...,...,...,...
955,2000-11-07,Weakley,19454,12298,0.6322,188,3921,0.3188,0.3341,NaN
956,2000-11-07,White,13358,8355,0.6255,140,2807,0.3360,0.3527,NaN
957,2000-11-07,Williamson,82620,59975,0.7259,1172,26790,0.4467,0.4662,NaN
958,2000-11-07,Wilson,45520,36453,0.8008,613,12225,0.3354,0.3522,NaN
959,2000-11-07,Total,3331971,2100241,0.6303,47954,749170,0.3567,0.3795,NaN

In [25]:
tn_2000_2018_to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Electdate                      960 non-null    datetime64[ns]
 1   County                         960 non-null    object
 2   Registered Voters              960 non-null    int64
 3   Total Votes Cast               960 non-null    int64
 4   Voter Turnout Pct              960 non-null    float64
 5   Absentee By Mail Voters        960 non-null    int64
 6   Early Voters                   960 non-null    int64
 7   Early Voters Pct               960 non-null    float64
 8   Early and Absentee Voters Pct  960 non-null    float64
 9   Unnamed: 9                     0 non-null      float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 75.1+ KB

In [26]:
# drop column "Unnamed: 9"
tn_2000_2018_to=tn_2000_2018_to.drop(columns=['Unnamed: 9'])
tn_2000_2018_to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Electdate                      960 non-null    datetime64[ns]
 1   County                         960 non-null    object
 2   Registered Voters              960 non-null    int64
 3   Total Votes Cast               960 non-null    int64
 4   Voter Turnout Pct              960 non-null    float64
 5   Absentee By Mail Voters        960 non-null    int64
 6   Early Voters                   960 non-null    int64
 7   Early Voters Pct               960 non-null    float64
 8   Early and Absentee Voters Pct  960 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(4), object(1)
memory usage: 67.6+ KB

In [44]:
# convert decimal values to percents in columns 'Voter Turnout', 'Early Voters Pct' and 'Early and Absentee Voters Pct'
tn_2000_2018_to['Voter Turnout Pct']=tn_2000_2018_to['Voter Turnout Pct']*100
tn_2000_2018_to['Early Voters Pct']=tn_2000_2018_to['Early Voters Pct']*100
tn_2000_2018_to['Early and Absentee Voters Pct']=tn_2000_2018_to['Early and Absentee Voters Pct']*100
tn_2000_2018_to

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct,Co_Index,In Person Voters
0,2018-11-06,Anderson,46430,26310,5667.0,677,16766,6372.0,6630.0,79,8867
1,2018-11-06,Bedford,23813,13148,5521.0,212,7402,5630.0,5791.0,26,5534
2,2018-11-06,Benton,11117,5381,4840.0,117,3461,6432.0,6649.0,41,1803
3,2018-11-06,Bledsoe,8352,4113,4925.0,94,1155,2808.0,3037.0,31,2864
4,2018-11-06,Blount,83606,47305,5658.0,1075,28365,5996.0,6223.0,52,17865
...,...,...,...,...,...,...,...,...,...,...,...
955,2000-11-07,Weakley,19454,12298,6322.0,188,3921,3188.0,3341.0,56,8189
956,2000-11-07,White,13358,8355,6255.0,140,2807,3360.0,3527.0,67,5408
957,2000-11-07,Williamson,82620,59975,7259.0,1172,26790,4467.0,4662.0,44,32013
958,2000-11-07,Wilson,45520,36453,8008.0,613,12225,3354.0,3522.0,65,23615
959,2000-11-07,Total,3331971,2100241,6303.0,47954,749170,3567.0,3795.0,0,1303117

In [45]:
tn_2000_2018_to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Electdate                      960 non-null    datetime64[ns]
 1   County                         960 non-null    object
 2   Registered Voters              960 non-null    int64
 3   Total Votes Cast               960 non-null    int64
 4   Voter Turnout Pct              960 non-null    float64
 5   Absentee By Mail Voters        960 non-null    int64
 6   Early Voters                   960 non-null    int64
 7   Early Voters Pct               960 non-null    float64
 8   Early and Absentee Voters Pct  960 non-null    float64
 9   Co_Index                       960 non-null    int32
 10  In Person Voters               960 non-null    int64
dtypes: datetime64[ns](1), float64(3), int32(1), int64(5), object(1)
memory usage: 78.9+ KB

In [55]:
# new dataframe of total values only
tn_2000_2018_to_totals=tn_2000_2018_to[tn_2000_2018_to['County']=='Total']
tn_2000_2018_to_totals

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct,Co_Index,In Person Voters
95,2018-11-06,Total,4163359,2267428,5446.0,43236,1343140,5924.0,6114.0,0,881052
191,2016-11-08,Total,4110318,2545271,6192.0,64199,1625790,6387.0,6640.0,0,855282
287,2014-11-04,Total,3975587,1430117,3597.0,19519,614845,4299.0,4436.0,0,795753
383,2012-11-06,Total,4008654,2479733,6186.0,64323,1407021,5674.0,5933.0,0,1008389
479,2010-11-02,Total,3921527,1620542,4132.0,23466,718117,4431.0,4576.0,0,878959
575,2008-11-04,Total,3946481,2618238,6634.0,63929,1516031,5790.0,6034.0,0,1038278
671,2006-11-07,Total,3738703,1868363,4997.0,34545,850217,4551.0,4735.0,0,983601
767,2004-11-02,Total,3704040,2456610,6632.0,54495,1107398,4508.0,4730.0,0,1294717
863,2002-11-05,Total,3347979,1687543,5040.0,29920,580536,3440.0,3588.0,0,1077087
959,2000-11-07,Total,3331971,2100241,6303.0,47954,749170,3567.0,3795.0,0,1303117

In [57]:
# add column for in person voting
tn_2000_2018_to_totals['In Person Voters']=tn_2000_2018_to_totals['Total Votes Cast']-(tn_2000_2018_to_totals['Absentee By Mail Voters']+tn_2000_2018_to_totals['Early Voters'])
tn_2000_2018_to_totals

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct,Co_Index,In Person Voters
95,2018-11-06,Total,4163359,2267428,5446.0,43236,1343140,5924.0,6114.0,0,881052
191,2016-11-08,Total,4110318,2545271,6192.0,64199,1625790,6387.0,6640.0,0,855282
287,2014-11-04,Total,3975587,1430117,3597.0,19519,614845,4299.0,4436.0,0,795753
383,2012-11-06,Total,4008654,2479733,6186.0,64323,1407021,5674.0,5933.0,0,1008389
479,2010-11-02,Total,3921527,1620542,4132.0,23466,718117,4431.0,4576.0,0,878959
575,2008-11-04,Total,3946481,2618238,6634.0,63929,1516031,5790.0,6034.0,0,1038278
671,2006-11-07,Total,3738703,1868363,4997.0,34545,850217,4551.0,4735.0,0,983601
767,2004-11-02,Total,3704040,2456610,6632.0,54495,1107398,4508.0,4730.0,0,1294717
863,2002-11-05,Total,3347979,1687543,5040.0,29920,580536,3440.0,3588.0,0,1077087
959,2000-11-07,Total,3331971,2100241,6303.0,47954,749170,3567.0,3795.0,0,1303117

In [60]:
# add percentage of in person voters of votes cast
tn_2000_2018_to_totals['In Person Voters Pct']=tn_2000_2018_to_totals['In Person Voters']/tn_2000_2018_to_totals['Total Votes Cast']*100
tn_2000_2018_to_totals

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct,Co_Index,In Person Voters,In Person Voters Pct
95,2018-11-06,Total,4163359,2267428,5446.0,43236,1343140,5924.0,6114.0,0,881052,38.856890
191,2016-11-08,Total,4110318,2545271,6192.0,64199,1625790,6387.0,6640.0,0,855282,33.602787
287,2014-11-04,Total,3975587,1430117,3597.0,19519,614845,4299.0,4436.0,0,795753,55.642510
383,2012-11-06,Total,4008654,2479733,6186.0,64323,1407021,5674.0,5933.0,0,1008389,40.665225
479,2010-11-02,Total,3921527,1620542,4132.0,23466,718117,4431.0,4576.0,0,878959,54.238582
575,2008-11-04,Total,3946481,2618238,6634.0,63929,1516031,5790.0,6034.0,0,1038278,39.655600
671,2006-11-07,Total,3738703,1868363,4997.0,34545,850217,4551.0,4735.0,0,983601,52.645070
767,2004-11-02,Total,3704040,2456610,6632.0,54495,1107398,4508.0,4730.0,0,1294717,52.703400
863,2002-11-05,Total,3347979,1687543,5040.0,29920,580536,3440.0,3588.0,0,1077087,63.825751
959,2000-11-07,Total,3331971,2100241,6303.0,47954,749170,3567.0,3795.0,0,1303117,62.046070

In [61]:
tn_2000_2018_to_totals['In Person Voters Pct']=tn_2000_2018_to_totals['In Person Voters Pct'].round(2)
tn_2000_2018_to_totals

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct,Co_Index,In Person Voters,In Person Voters Pct
95,2018-11-06,Total,4163359,2267428,5446.0,43236,1343140,5924.0,6114.0,0,881052,38.86
191,2016-11-08,Total,4110318,2545271,6192.0,64199,1625790,6387.0,6640.0,0,855282,33.60
287,2014-11-04,Total,3975587,1430117,3597.0,19519,614845,4299.0,4436.0,0,795753,55.64
383,2012-11-06,Total,4008654,2479733,6186.0,64323,1407021,5674.0,5933.0,0,1008389,40.67
479,2010-11-02,Total,3921527,1620542,4132.0,23466,718117,4431.0,4576.0,0,878959,54.24
575,2008-11-04,Total,3946481,2618238,6634.0,63929,1516031,5790.0,6034.0,0,1038278,39.66
671,2006-11-07,Total,3738703,1868363,4997.0,34545,850217,4551.0,4735.0,0,983601,52.65
767,2004-11-02,Total,3704040,2456610,6632.0,54495,1107398,4508.0,4730.0,0,1294717,52.70
863,2002-11-05,Total,3347979,1687543,5040.0,29920,580536,3440.0,3588.0,0,1077087,63.83
959,2000-11-07,Total,3331971,2100241,6303.0,47954,749170,3567.0,3795.0,0,1303117,62.05

In [62]:
tn_2000_2018_to_totals.to_excel(r'../data/TN_Voter_Turnout/turnout_xlsx/tn_2000_2018_to_totals.xlsx',index=False)

In [31]:
#read TN_county_index_shape.csv to add index from TN Counties shape file for joining in Tableau
county_index=pd.read_csv('../data/TN_county_index_shape.csv')
county_index

        county  INDEX_NO
0     Anderson        79
1      Bedford        26
2       Benton        41
3      Bledsoe        31
4       Blount        52
..         ...       ...
90       Wayne         6
91     Weakley        56
92       White        67
93  Williamson        44
94      Wilson        65

[95 rows x 2 columns]

In [32]:
# drop index set column "county" to index
county_index.set_index('county', drop=True, inplace=True)

In [33]:
# change df "county_index" to dictionary to look up county index numbers
county_index_dict=county_index.to_dict()
county_index_dict

{'INDEX_NO': {'Anderson': 79,
  'Bedford': 26,
  'Benton': 41,
  'Bledsoe': 31,
  'Blount': 52,
  'Bradley': 13,
  'Campbell': 81,
  'Cannon': 46,
  'Carroll': 40,
  'Carter': 94,
  'Cheatham': 61,
  'Chester': 18,
  'Claiborne': 82,
  'Clay': 73,
  'Cocke': 88,
  'Coffee': 28,
  'Crockett': 38,
  'Cumberland': 49,
  'Davidson': 63,
  'Decatur': 20,
  'DeKalb': 66,
  'Dickson': 43,
  'Dyer': 54,
  'Fayette': 2,
  'Fentress': 76,
  'Franklin': 10,
  'Gibson': 39,
  'Giles': 8,
  'Grainger': 85,
  'Greene': 89,
  'Grundy': 29,
  'Hamblen': 87,
  'Hamilton': 12,
  'Hancock': 86,
  'Hardeman': 3,
  'Hardin': 5,
  'Hawkins': 90,
  'Haywood': 16,
  'Henderson': 19,
  'Henry': 57,
  'Hickman': 23,
  'Houston': 58,
  'Humphreys': 42,
  'Jackson': 72,
  'Jefferson': 84,
  'Johnson': 95,
  'Knox': 80,
  'Lake': 37,
  'Lauderdale': 36,
  'Lawrence': 7,
  'Lewis': 22,
  'Lincoln': 9,
  'Loudon': 51,
  'Macon': 71,
  'Madison': 17,
  'Marion': 11,
  'Marshall': 25,
  'Maury': 24,
  'McMinn': 34,
  'McNairy': 4,
  'Meigs': 33,
  'Monroe': 35,
  'Montgomery': 60,
  'Moore': 27,
  'Morgan': 77,
  'Obion': 55,
  'Overton': 74,
  'Perry': 21,
  'Pickett': 75,
  'Polk': 14,
  'Putnam': 69,
  'Rhea': 32,
  'Roane': 50,
  'Robertson': 62,
  'Rutherford': 45,
  'Scott': 78,
  'Sequatchie': 30,
  'Sevier': 53,
  'Shelby': 1,
  'Smith': 68,
  'Stewart': 59,
  'Sullivan': 93,
  'Sumner': 64,
  'Tipton': 15,
  'Trousdale': 70,
  'Unicoi': 91,
  'Union': 83,
  'Van Buren': 48,
  'Warren': 47,
  'Washington': 92,
  'Wayne': 6,
  'Weakley': 56,
  'White': 67,
  'Williamson': 44,
  'Wilson': 65}}

In [34]:
# map county_index onto tn_2000_2018_to for possibility of mapping  
tn_2000_2018_to['Co_Index']=tn_2000_2018_to['County'].map(county_index_dict["INDEX_NO"])
tn_2000_2018_to

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct,Co_Index
0,2018-11-06,Anderson,46430,26310,56.67,677,16766,63.72,66.30,79.0
1,2018-11-06,Bedford,23813,13148,55.21,212,7402,56.30,57.91,26.0
2,2018-11-06,Benton,11117,5381,48.40,117,3461,64.32,66.49,41.0
3,2018-11-06,Bledsoe,8352,4113,49.25,94,1155,28.08,30.37,31.0
4,2018-11-06,Blount,83606,47305,56.58,1075,28365,59.96,62.23,52.0
...,...,...,...,...,...,...,...,...,...,...
955,2000-11-07,Weakley,19454,12298,63.22,188,3921,31.88,33.41,56.0
956,2000-11-07,White,13358,8355,62.55,140,2807,33.60,35.27,67.0
957,2000-11-07,Williamson,82620,59975,72.59,1172,26790,44.67,46.62,44.0
958,2000-11-07,Wilson,45520,36453,80.08,613,12225,33.54,35.22,65.0
959,2000-11-07,Total,3331971,2100241,63.03,47954,749170,35.67,37.95,NaN

In [35]:
tn_2000_2018_to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Electdate                      960 non-null    datetime64[ns]
 1   County                         960 non-null    object
 2   Registered Voters              960 non-null    int64
 3   Total Votes Cast               960 non-null    int64
 4   Voter Turnout Pct              960 non-null    float64
 5   Absentee By Mail Voters        960 non-null    int64
 6   Early Voters                   960 non-null    int64
 7   Early Voters Pct               960 non-null    float64
 8   Early and Absentee Voters Pct  960 non-null    float64
 9   Co_Index                       949 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 75.1+ KB

In [38]:
# change nulls in column "Co_Index" to "0"# change dtype in "Co_Index" fom float64 to int32
tn_2000_2018_to['Co_Index'].fillna(0,inplace=True)
tn_2000_2018_to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Electdate                      960 non-null    datetime64[ns]
 1   County                         960 non-null    object
 2   Registered Voters              960 non-null    int64
 3   Total Votes Cast               960 non-null    int64
 4   Voter Turnout Pct              960 non-null    float64
 5   Absentee By Mail Voters        960 non-null    int64
 6   Early Voters                   960 non-null    int64
 7   Early Voters Pct               960 non-null    float64
 8   Early and Absentee Voters Pct  960 non-null    float64
 9   Co_Index                       960 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 75.1+ KB

In [39]:
# change dtype in "Co_Index" fom float64 to int32
tn_2000_2018_to['Co_Index']=tn_2000_2018_to['Co_Index'].astype('int32')

In [63]:
# add column for in person voting
tn_2000_2018_to['In Person Voters']=tn_2000_2018_to['Total Votes Cast']-(tn_2000_2018_to['Absentee By Mail Voters']+tn_2000_2018_to['Early Voters'])
tn_2000_2018_to

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct,Co_Index,In Person Voters
0,2018-11-06,Anderson,46430,26310,5667.0,677,16766,6372.0,6630.0,79,8867
1,2018-11-06,Bedford,23813,13148,5521.0,212,7402,5630.0,5791.0,26,5534
2,2018-11-06,Benton,11117,5381,4840.0,117,3461,6432.0,6649.0,41,1803
3,2018-11-06,Bledsoe,8352,4113,4925.0,94,1155,2808.0,3037.0,31,2864
4,2018-11-06,Blount,83606,47305,5658.0,1075,28365,5996.0,6223.0,52,17865
...,...,...,...,...,...,...,...,...,...,...,...
955,2000-11-07,Weakley,19454,12298,6322.0,188,3921,3188.0,3341.0,56,8189
956,2000-11-07,White,13358,8355,6255.0,140,2807,3360.0,3527.0,67,5408
957,2000-11-07,Williamson,82620,59975,7259.0,1172,26790,4467.0,4662.0,44,32013
958,2000-11-07,Wilson,45520,36453,8008.0,613,12225,3354.0,3522.0,65,23615
959,2000-11-07,Total,3331971,2100241,6303.0,47954,749170,3567.0,3795.0,0,1303117

In [65]:
# add percentage of in person voters of votes cast
tn_2000_2018_to['In Person Voters Pct']=tn_2000_2018_to['In Person Voters']/tn_2000_2018_to['Total Votes Cast']*100
tn_2000_2018_to

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct,Co_Index,In Person Voters,In Person Voters Pct
0,2018-11-06,Anderson,46430,26310,5667.0,677,16766,6372.0,6630.0,79,8867,33.702014
1,2018-11-06,Bedford,23813,13148,5521.0,212,7402,5630.0,5791.0,26,5534,42.090052
2,2018-11-06,Benton,11117,5381,4840.0,117,3461,6432.0,6649.0,41,1803,33.506783
3,2018-11-06,Bledsoe,8352,4113,4925.0,94,1155,2808.0,3037.0,31,2864,69.632871
4,2018-11-06,Blount,83606,47305,5658.0,1075,28365,5996.0,6223.0,52,17865,37.765564
...,...,...,...,...,...,...,...,...,...,...,...,...
955,2000-11-07,Weakley,19454,12298,6322.0,188,3921,3188.0,3341.0,56,8189,66.588063
956,2000-11-07,White,13358,8355,6255.0,140,2807,3360.0,3527.0,67,5408,64.727708
957,2000-11-07,Williamson,82620,59975,7259.0,1172,26790,4467.0,4662.0,44,32013,53.377241
958,2000-11-07,Wilson,45520,36453,8008.0,613,12225,3354.0,3522.0,65,23615,64.782048
959,2000-11-07,Total,3331971,2100241,6303.0,47954,749170,3567.0,3795.0,0,1303117,62.046070

In [66]:
tn_2000_2018_to['In Person Voters Pct']=tn_2000_2018_to['In Person Voters Pct'].round(2)
tn_2000_2018_to

,Electdate,County,Registered Voters,Total Votes Cast,Voter Turnout Pct,Absentee By Mail Voters,Early Voters,Early Voters Pct,Early and Absentee Voters Pct,Co_Index,In Person Voters,In Person Voters Pct
0,2018-11-06,Anderson,46430,26310,5667.0,677,16766,6372.0,6630.0,79,8867,33.70
1,2018-11-06,Bedford,23813,13148,5521.0,212,7402,5630.0,5791.0,26,5534,42.09
2,2018-11-06,Benton,11117,5381,4840.0,117,3461,6432.0,6649.0,41,1803,33.51
3,2018-11-06,Bledsoe,8352,4113,4925.0,94,1155,2808.0,3037.0,31,2864,69.63
4,2018-11-06,Blount,83606,47305,5658.0,1075,28365,5996.0,6223.0,52,17865,37.77
...,...,...,...,...,...,...,...,...,...,...,...,...
955,2000-11-07,Weakley,19454,12298,6322.0,188,3921,3188.0,3341.0,56,8189,66.59
956,2000-11-07,White,13358,8355,6255.0,140,2807,3360.0,3527.0,67,5408,64.73
957,2000-11-07,Williamson,82620,59975,7259.0,1172,26790,4467.0,4662.0,44,32013,53.38
958,2000-11-07,Wilson,45520,36453,8008.0,613,12225,3354.0,3522.0,65,23615,64.78
959,2000-11-07,Total,3331971,2100241,6303.0,47954,749170,3567.0,3795.0,0,1303117,62.05

In [67]:
tn_2000_2018_to.to_excel(r'../data/TN_Voter_Turnout/turnout_xlsx/tn_2000_2018_to.xlsx',index=False)