In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [5]:
%matplotlib inline
pd.set_option('display.max_columns', None)

In [6]:
# import excel file November2012.xlsx
tn_2012=pd.read_excel('../data/2012_election/November2012.xlsx',
                      usecols=['COUNTY','PRECINCT','OFFICENAME','ELECTDATE','BName1','Tally1','BName2','Tally2',
                               'BName3','Tally3','BName4','Tally4','BName5','Tally5','BName6','Tally6','BName7','Tally7',
                               'BName8','Tally8','BName9','Tally9','BName10','Tally10'])
tn_2012

,COUNTY,PRECINCT,OFFICENAME,ELECTDATE,BName1,Tally1,BName2,Tally2,BName3,Tally3,BName4,Tally4,BName5,Tally5,BName6,Tally6,BName7,Tally7,BName8,Tally8,BName9,Tally9,BName10,Tally10
0,ANDERSON,Andersonville,United States President,"November 6, 2012",. Mitt Romney - (R),1110,. Barack Obama - (D),267,. Virgil Goode - (C),3,. Jill Stein - (G),0,". Ross C. ""Rocky"" Anderson - (I)",0,. Gary Johnson - (I),6,. Merlin Miller - (I),1,NaN,0,NaN,0,NaN,0
1,ANDERSON,Andersonville,United States Senate,"November 6, 2012",. Bob Corker - (R),1067,. Mark E. Clayton - (D),216,. Kermit Steck - (C),17,. Martin Pleasant - (G),11,. Shaun E. Crowell - (I),18,. David Gatchell - (I),0,. James Higdon - (I),5,. Michel Joseph Long - (I),1,. Troy Stephen Scoggin - (I),0,. Write-In - Fred R. Anderson,0
2,ANDERSON,Andersonville,United States Senate,"November 6, 2012",. Write-In - Larry Crim,0,. Write-In - Gary Gene Davis,0,. Write-In - Allen Hoenicke,0,. Write-In - De Wayne A. Jones,0,. Write-In - Jacob Maurer,0,. Write-In - Jim Maynard,0,. Write-In - Margie Nell Penn,0,. Write-In - Christopher Schappert,0,. Write-In - Lee Stewart,0,. Write-In - Angelia Stinnett,0
3,ANDERSON,Andersonville,United States Senate,"November 6, 2012",. Write-In - Mary D. Wright,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
4,ANDERSON,Andersonville,U.S. House of Representatives District,"November 6, 2012",. Chuck Fleischmann - (R),996,. Mary M. Headrick - (D),282,. Matthew Deniston - (I),48,. Write-In - Richard Hall,0,. Write-In - Lady J Jean Howard-Hill,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14087,WILSON,Provisional,United States Senate,"November 6, 2012",. Write-In - Larry Crim,0,. Write-In - Gary Gene Davis,0,. Write-In - Allen Hoenicke,0,. Write-In - De Wayne A. Jones,0,. Write-In - Jacob Maurer,0,. Write-In - Jim Maynard,0,. Write-In - Margie Nell Penn,0,. Write-In - Christopher Schappert,0,. Write-In - Lee Stewart,0,. Write-In - Angelia Stinnett,0
14088,WILSON,Provisional,United States Senate,"November 6, 2012",. Write-In - Mary D. Wright,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
14089,WILSON,Provisional,U.S. House of Representatives District,"November 6, 2012",. Diane Black - (R),36,. Pat Riley - (G),9,. Scott Beasley - (I),9,. Write-In - Mary Amanda Keifer,0,. Write-In - Rachel Robinson,0,. Write-In - Michael H. Thompson,0,NaN,0,NaN,0,NaN,0,NaN,0
14090,WILSON,Provisional,Tennessee House of Representatives District,"November 6, 2012",. Mark A. Pody - (R),16,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
14091,WILSON,Provisional,Tennessee House of Representatives District,"November 6, 2012",. Susan Lynn - (R),30,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0

In [8]:
tn_2012.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14092 entries, 0 to 14091
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   COUNTY      14092 non-null  object
 1   PRECINCT    14092 non-null  object
 2   OFFICENAME  14092 non-null  object
 3   ELECTDATE   14092 non-null  object
 4   BName1      14092 non-null  object
 5   Tally1      14092 non-null  int64
 6   BName2      10660 non-null  object
 7   Tally2      14092 non-null  int64
 8   BName3      8449 non-null   object
 9   Tally3      14092 non-null  int64
 10  BName4      8207 non-null   object
 11  Tally4      14092 non-null  int64
 12  BName5      7762 non-null   object
 13  Tally5      14092 non-null  int64
 14  BName6      7059 non-null   object
 15  Tally6      14092 non-null  int64
 16  BName7      6489 non-null   object
 17  Tally7      14092 non-null  int64
 18  BName8      4210 non-null   object
 19  Tally8      14092 non-null  int64
 20  BName9      4210 non-null   object
 21  Tally9      14092 non-null  int64
 22  BName10     4210 non-null   object
 23  Tally10     14092 non-null  int64
dtypes: int64(10), object(14)
memory usage: 2.6+ MB

In [9]:
# merge entries in all RNAME columns into new column "name"
tn_2012_namemelt=tn_2012.melt(id_vars=['COUNTY','PRECINCT','OFFICENAME','ELECTDATE'],value_vars=['BName1','BName2','BName3','BName4','BName5','BName6','BName7','BName8','BName9','BName10'],value_name="candidate")
# drop column "variable" created by .melt
tn_2012_namemelt=tn_2012_namemelt.drop(['variable'],axis=1)                          
tn_2012_namemelt.head()

,COUNTY,PRECINCT,OFFICENAME,ELECTDATE,candidate
0,ANDERSON,Andersonville,United States President,"November 6, 2012",. Mitt Romney - (R)
1,ANDERSON,Andersonville,United States Senate,"November 6, 2012",. Bob Corker - (R)
2,ANDERSON,Andersonville,United States Senate,"November 6, 2012",. Write-In - Larry Crim
3,ANDERSON,Andersonville,United States Senate,"November 6, 2012",. Write-In - Mary D. Wright
4,ANDERSON,Andersonville,U.S. House of Representatives District,"November 6, 2012",. Chuck Fleischmann - (R)

In [10]:
# merge entries in all TALLY columns into new column "vote_count"
tn_2012_pvtallymelt=tn_2012.melt(id_vars=['COUNTY','PRECINCT','OFFICENAME','ELECTDATE'],value_vars=['Tally1','Tally2','Tally3','Tally4','Tally5','Tally6','Tally7','Tally8','Tally9','Tally10'],value_name="vote_count")
# drop column "variable" created by .melt
tn_2012_pvtallymelt=tn_2012_pvtallymelt.drop(['variable'],axis=1)
tn_2012_pvtallymelt.head()

,COUNTY,PRECINCT,OFFICENAME,ELECTDATE,vote_count
0,ANDERSON,Andersonville,United States President,"November 6, 2012",1110
1,ANDERSON,Andersonville,United States Senate,"November 6, 2012",1067
2,ANDERSON,Andersonville,United States Senate,"November 6, 2012",0
3,ANDERSON,Andersonville,United States Senate,"November 6, 2012",0
4,ANDERSON,Andersonville,U.S. House of Representatives District,"November 6, 2012",996

In [11]:
# add "vote_count" to tn_2016_namemelt
tally=tn_2012_pvtallymelt['vote_count']
tn_2012_namemelt=tn_2012_namemelt.join(tally)
tn_2012_namemelt.head(3)

,COUNTY,PRECINCT,OFFICENAME,ELECTDATE,candidate,vote_count
0,ANDERSON,Andersonville,United States President,"November 6, 2012",. Mitt Romney - (R),1110
1,ANDERSON,Andersonville,United States Senate,"November 6, 2012",. Bob Corker - (R),1067
2,ANDERSON,Andersonville,United States Senate,"November 6, 2012",. Write-In - Larry Crim,0

In [12]:
tn_2012_namemelt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140920 entries, 0 to 140919
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   COUNTY      140920 non-null  object
 1   PRECINCT    140920 non-null  object
 2   OFFICENAME  140920 non-null  object
 3   ELECTDATE   140920 non-null  object
 4   candidate   75348 non-null   object
 5   vote_count  140920 non-null  int64
dtypes: int64(1), object(5)
memory usage: 6.5+ MB

In [13]:
# lower case column names
tn_2012_namemelt.columns=tn_2012_namemelt.columns.str.lower()
tn_2012_namemelt.head(2)

,county,precinct,officename,electdate,candidate,vote_count
0,ANDERSON,Andersonville,United States President,"November 6, 2012",. Mitt Romney - (R),1110
1,ANDERSON,Andersonville,United States Senate,"November 6, 2012",. Bob Corker - (R),1067

In [14]:
tn_2012_namemelt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140920 entries, 0 to 140919
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   county      140920 non-null  object
 1   precinct    140920 non-null  object
 2   officename  140920 non-null  object
 3   electdate   140920 non-null  object
 4   candidate   75348 non-null   object
 5   vote_count  140920 non-null  int64
dtypes: int64(1), object(5)
memory usage: 6.5+ MB

#### 75348 non-null names  out of 140920 enties. Confirm all are 0 votes and drop rows with no candidate listed

In [15]:
# Create dataframe "blank_candidate_2012" of null valuea in "candidate" of tn_2012_namemelt
blank_candidate_2012=tn_2012_namemelt[tn_2012_namemelt['candidate'].isna()]
blank_candidate_2012

,county,precinct,officename,electdate,candidate,vote_count
14095,ANDERSON,Andersonville,United States Senate,"November 6, 2012",NaN,0
14101,ANDERSON,Briceville,United States Senate,"November 6, 2012",NaN,0
14107,ANDERSON,Bull Run,United States Senate,"November 6, 2012",NaN,0
14113,ANDERSON,Clinton,United States Senate,"November 6, 2012",NaN,0
14119,ANDERSON,Clinton High,United States Senate,"November 6, 2012",NaN,0
...,...,...,...,...,...,...
140913,WILSON,Provisional,United States President,"November 6, 2012",NaN,0
140916,WILSON,Provisional,United States Senate,"November 6, 2012",NaN,0
140917,WILSON,Provisional,U.S. House of Representatives District,"November 6, 2012",NaN,0
140918,WILSON,Provisional,Tennessee House of Representatives District,"November 6, 2012",NaN,0
140919,WILSON,Provisional,Tennessee House of Representatives District,"November 6, 2012",NaN,0

In [16]:
# confirm all are 0 counts
blank_candidate_2012['vote_count'].value_counts()

0    65572
Name: vote_count, dtype: int64

In [17]:
# drop all null candidates
tn_2012_namemelt.dropna().reset_index(drop=True)

,county,precinct,officename,electdate,candidate,vote_count
0,ANDERSON,Andersonville,United States President,"November 6, 2012",. Mitt Romney - (R),1110
1,ANDERSON,Andersonville,United States Senate,"November 6, 2012",. Bob Corker - (R),1067
2,ANDERSON,Andersonville,United States Senate,"November 6, 2012",. Write-In - Larry Crim,0
3,ANDERSON,Andersonville,United States Senate,"November 6, 2012",. Write-In - Mary D. Wright,0
4,ANDERSON,Andersonville,U.S. House of Representatives District,"November 6, 2012",. Chuck Fleischmann - (R),996
...,...,...,...,...,...,...
75343,WILSON,25-2,United States Senate,"November 6, 2012",. Write-In - Angelia Stinnett,0
75344,WILSON,Absentee,United States Senate,"November 6, 2012",. Write-In - Fred R. Anderson,0
75345,WILSON,Absentee,United States Senate,"November 6, 2012",. Write-In - Angelia Stinnett,0
75346,WILSON,Provisional,United States Senate,"November 6, 2012",. Write-In - Fred R. Anderson,0
75347,WILSON,Provisional,United States Senate,"November 6, 2012",. Write-In - Angelia Stinnett,0

In [19]:
# confirn all null candidates dropped
tn_2012_namemelt[tn_2012_namemelt['candidate'].isna()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65572 entries, 14095 to 140919
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   county      65572 non-null  object
 1   precinct    65572 non-null  object
 2   officename  65572 non-null  object
 3   electdate   65572 non-null  object
 4   candidate   0 non-null      object
 5   vote_count  65572 non-null  int64
dtypes: int64(1), object(5)
memory usage: 3.5+ MB

In [20]:
tn_2012_namemelt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140920 entries, 0 to 140919
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   county      140920 non-null  object
 1   precinct    140920 non-null  object
 2   officename  140920 non-null  object
 3   electdate   140920 non-null  object
 4   candidate   75348 non-null   object
 5   vote_count  140920 non-null  int64
dtypes: int64(1), object(5)
memory usage: 6.5+ MB

### Look at cadidates with 0 votes, drop

In [21]:
tn_2012_namemelt_0votes=tn_2012_namemelt[tn_2012_namemelt['vote_count'] == 0]
tn_2012_namemelt_0votes

,county,precinct,officename,electdate,candidate,vote_count
2,ANDERSON,Andersonville,United States Senate,"November 6, 2012",. Write-In - Larry Crim,0
3,ANDERSON,Andersonville,United States Senate,"November 6, 2012",. Write-In - Mary D. Wright,0
8,ANDERSON,Briceville,United States Senate,"November 6, 2012",. Write-In - Larry Crim,0
9,ANDERSON,Briceville,United States Senate,"November 6, 2012",. Write-In - Mary D. Wright,0
14,ANDERSON,Bull Run,United States Senate,"November 6, 2012",. Write-In - Larry Crim,0
...,...,...,...,...,...,...
140915,WILSON,Provisional,United States Senate,"November 6, 2012",. Write-In - Angelia Stinnett,0
140916,WILSON,Provisional,United States Senate,"November 6, 2012",NaN,0
140917,WILSON,Provisional,U.S. House of Representatives District,"November 6, 2012",NaN,0
140918,WILSON,Provisional,Tennessee House of Representatives District,"November 6, 2012",NaN,0
140919,WILSON,Provisional,Tennessee House of Representatives District,"November 6, 2012",NaN,0

In [25]:
# drop rows with 0 in "vote_count" column
tn_2012_namemelt=tn_2012_namemelt[tn_2012_namemelt['vote_count'] != 0].reset_index(drop=True)
tn_2012_namemelt

,county,precinct,officename,electdate,candidate,vote_count
0,ANDERSON,Andersonville,United States President,"November 6, 2012",. Mitt Romney - (R),1110
1,ANDERSON,Andersonville,United States Senate,"November 6, 2012",. Bob Corker - (R),1067
2,ANDERSON,Andersonville,U.S. House of Representatives District,"November 6, 2012",. Chuck Fleischmann - (R),996
3,ANDERSON,Andersonville,Tennessee House of Representatives District,"November 6, 2012",. Dennis Powers - (R),998
4,ANDERSON,Briceville,United States President,"November 6, 2012",. Mitt Romney - (R),227
...,...,...,...,...,...,...
43415,WILLIAMSON,12-1,United States Senate,"November 6, 2012",. Write-In - Angelia Stinnett,2
43416,WILLIAMSON,12-2,United States Senate,"November 6, 2012",. Write-In - Angelia Stinnett,13
43417,WILLIAMSON,12-3,United States Senate,"November 6, 2012",. Write-In - Angelia Stinnett,3
43418,WILSON,16-1,United States Senate,"November 6, 2012",. Write-In - Angelia Stinnett,1
43419,WILSON,22-1,United States Senate,"November 6, 2012",. Write-In - Angelia Stinnett,1

In [31]:
tn_2012_namemelt['vote_count'].value_counts()

1       4472
2       3531
3       2819
4       2166
5       1669
        ...
1766       1
2611       1
1670       1
1638       1
4839       1
Name: vote_count, Length: 2260, dtype: int64

In [36]:
# group county precincts into county per candidate, in descending order of votes within county
tn_2012_int=tn_2012_namemelt.groupby(['officename','county','candidate'], as_index=False)['vote_count'].sum()
tn_2012_int=tn_2012_int.sort_values(by=['county','vote_count'],ascending=False).reset_index(drop=True)
tn_2012_int.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2445 entries, 0 to 2444
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   officename  2445 non-null   object
 1   county      2445 non-null   object
 2   candidate   2445 non-null   object
 3   vote_count  2445 non-null   int64
dtypes: int64(1), object(3)
memory usage: 76.5+ KB

In [37]:
tn_2012_int['officename'].unique()

array(['United States Senate', 'United States President',
       'U.S. House of Representatives District',
       'Tennessee House of Representatives District',
       'Tennessee Senate District'], dtype=object)

In [136]:
tn_2016_final['vote_count'].value_counts()

0       16824
1        2367
2        1670
3        1193
4         930
        ...
1742        1
1710        1
1614        1
1582        1
2353        1
Name: vote_count, Length: 2211, dtype: int64

### 16824 rows have a vote count of 0. Drop those rows

In [137]:
tn_2016_final=tn_2016_final[tn_2016_final['vote_count'] != 0]
tn_2016_final=tn_2016_final.reset_index(drop=True)
tn_2016_final.head()

,county,precinct,officename,electdate,name,party,vote_count
0,Anderson,Andersonville,United States President,2016-11-08,Donald J. Trump,Republican,1222
1,Anderson,Andersonville,United States House of Representatives District 3,2016-11-08,Chuck Fleischmann,Republican,1124
2,Anderson,Andersonville,Tennessee House of Representatives District 36,2016-11-08,Dennis H. Powers,Republican,1128
3,Anderson,Briceville,United States President,2016-11-08,Donald J. Trump,Republican,243
4,Anderson,Briceville,United States House of Representatives District 3,2016-11-08,Chuck Fleischmann,Republican,207

In [138]:
# confirm no 0's in vote count
tn_2016_final['vote_count'].value_counts()

1       2367
2       1670
3       1193
4        930
5        714
        ...
1079       1
2998       1
2966       1
2934       1
2049       1
Name: vote_count, Length: 2210, dtype: int64

In [139]:
# create data frame tn_2016_pres for presidental election
tn_2016_pres_int=tn_2016_final[tn_2016_final['officename'].str.match('United States President')]
tn_2016_pres_int=tn_2016_pres_int.reset_index(drop=True)
tn_2016_pres_int

,county,precinct,officename,electdate,name,party,vote_count
0,Anderson,Andersonville,United States President,2016-11-08,Donald J. Trump,Republican,1222
1,Anderson,Briceville,United States President,2016-11-08,Donald J. Trump,Republican,243
2,Anderson,Bull Run,United States President,2016-11-08,Donald J. Trump,Republican,1397
3,Anderson,Clinton,United States President,2016-11-08,Donald J. Trump,Republican,1330
4,Anderson,Clinton High,United States President,2016-11-08,Donald J. Trump,Republican,792
...,...,...,...,...,...,...,...
14085,Wilson,1-1,United States President,2016-11-08,Write-In - Tom Hoefling,Independent,1
14086,Wilson,11-1,United States President,2016-11-08,Write-In - Tom Hoefling,Independent,2
14087,Wilson,14-1,United States President,2016-11-08,Write-In - Tom Hoefling,Independent,1
14088,Wilson,16-1,United States President,2016-11-08,Write-In - Tom Hoefling,Independent,1
14089,Wilson,23-1,United States President,2016-11-08,Write-In - Tom Hoefling,Independent,1

In [140]:
tn_2016_pres_int.head(20)

,county,precinct,officename,electdate,name,party,vote_count
0,Anderson,Andersonville,United States President,2016-11-08,Donald J. Trump,Republican,1222
1,Anderson,Briceville,United States President,2016-11-08,Donald J. Trump,Republican,243
2,Anderson,Bull Run,United States President,2016-11-08,Donald J. Trump,Republican,1397
3,Anderson,Clinton,United States President,2016-11-08,Donald J. Trump,Republican,1330
4,Anderson,Clinton High,United States President,2016-11-08,Donald J. Trump,Republican,792
5,Anderson,Claxton,United States President,2016-11-08,Donald J. Trump,Republican,1319
6,Anderson,Clinton Middle,United States President,2016-11-08,Donald J. Trump,Republican,453
7,Anderson,Dutch Valley,United States President,2016-11-08,Donald J. Trump,Republican,271
8,Anderson,Emory Valley,United States President,2016-11-08,Donald J. Trump,Republican,1034
9,Anderson,Fairview,United States President,2016-11-08,Donald J. Trump,Republican,543
10,Anderson,Glen Alpine,United States President,2016-11-08,Donald J. Trump,Republican,1149
11,Anderson,Glenwood,United States President,2016-11-08,Donald J. Trump,Republican,763
12,Anderson,Hendrix Creek,United States President,2016-11-08,Donald J. Trump,Republican,849
13,Anderson,Highland View,United States President,2016-11-08,Donald J. Trump,Republican,299
14,Anderson,Lake City MS,United States President,2016-11-08,Donald J. Trump,Republican,1219
15,Anderson,Marlow,United States President,2016-11-08,Donald J. Trump,Republican,505
16,Anderson,North Clinton,United States President,2016-11-08,Donald J. Trump,Republican,809
17,Anderson,Norris,United States President,2016-11-08,Donald J. Trump,Republican,412
18,Anderson,Norwood,United States President,2016-11-08,Donald J. Trump,Republican,915
19,Anderson,Oak Ridge,United States President,2016-11-08,Donald J. Trump,Republican,324

### Add column that has total vote count by count for use in calculating county vote percentages

In [141]:
# group county precincts into county per candidate, in descending order of votes within county
tn_2016_pres_int=tn_2016_pres_int.groupby(['officename','county','name','party'], as_index=False)['vote_count'].sum()
tn_2016_pres=tn_2016_pres_int.sort_values(by=['county','vote_count'],ascending=False).reset_index(drop=True)
tn_2016_pres.head(20)

,officename,county,name,party,vote_count
0,United States President,Wilson,Donald J. Trump,Republican,39406
1,United States President,Wilson,Hillary Clinton,Democratic,14385
2,United States President,Wilson,Gary Johnson,Independent,1807
3,United States President,Wilson,Jill Stein,Independent,467
4,United States President,Wilson,Write-In - Evan McMullin,Independent,280
5,United States President,Wilson,Mike Smith,Independent,207
6,United States President,Wilson,Alyson Kennedy,Independent,83
7,United States President,Wilson,"""Rocky"" Roque De La Fuente",Independent,69
8,United States President,Wilson,Write-In - Darrell L. Castle,Independent,23
9,United States President,Wilson,Write-In - Tom Hoefling,Independent,6
10,United States President,Wilson,Write-In - Laurence Kotlikoff,Independent,1
11,United States President,Williamson,Donald J. Trump,Republican,68212
12,United States President,Williamson,Hillary Clinton,Democratic,31013
13,United States President,Williamson,Gary Johnson,Independent,4518
14,United States President,Williamson,Write-In - Evan McMullin,No party,1371
15,United States President,Williamson,Jill Stein,Independent,526
16,United States President,Williamson,Mike Smith,Independent,318
17,United States President,Williamson,"""Rocky"" Roque De La Fuente",Independent,130
18,United States President,Williamson,Write-In - Darrell L. Castle,No party,102
19,United States President,Williamson,Alyson Kennedy,Independent,67

In [142]:
# create new dataframe "county_vote" to use to find sum of votes per county
county_vote=tn_2016_pres.loc[0:,['county','vote_count']]
county_vote

       county  vote_count
0      Wilson       39406
1      Wilson       14385
2      Wilson        1807
3      Wilson         467
4      Wilson         280
..        ...         ...
884  Anderson         174
885  Anderson         115
886  Anderson          74
887  Anderson          42
888  Anderson          28

[889 rows x 2 columns]

In [143]:
#sum county votes
county_vote_sum=county_vote.groupby(['county'])['vote_count'].sum()
county_vote_sum

county
Anderson       29881
Bedford        15355
Benton          6328
Bledsoe         4664
Blount         52208
               ...
Wayne           5857
Weakley        12184
White           9825
Williamson    106271
Wilson         56734
Name: vote_count, Length: 95, dtype: int32

In [144]:
# use "county_vote_sum" to add column "sum_county_vote" to tn_2016_pres correlating with value in each row
tn_2016_pres['sum_county_vote']=tn_2016_pres['county'].map(county_vote_sum)
tn_2016_pres.head(20)

,officename,county,name,party,vote_count,sum_county_vote
0,United States President,Wilson,Donald J. Trump,Republican,39406,56734
1,United States President,Wilson,Hillary Clinton,Democratic,14385,56734
2,United States President,Wilson,Gary Johnson,Independent,1807,56734
3,United States President,Wilson,Jill Stein,Independent,467,56734
4,United States President,Wilson,Write-In - Evan McMullin,Independent,280,56734
5,United States President,Wilson,Mike Smith,Independent,207,56734
6,United States President,Wilson,Alyson Kennedy,Independent,83,56734
7,United States President,Wilson,"""Rocky"" Roque De La Fuente",Independent,69,56734
8,United States President,Wilson,Write-In - Darrell L. Castle,Independent,23,56734
9,United States President,Wilson,Write-In - Tom Hoefling,Independent,6,56734
10,United States President,Wilson,Write-In - Laurence Kotlikoff,Independent,1,56734
11,United States President,Williamson,Donald J. Trump,Republican,68212,106271
12,United States President,Williamson,Hillary Clinton,Democratic,31013,106271
13,United States President,Williamson,Gary Johnson,Independent,4518,106271
14,United States President,Williamson,Write-In - Evan McMullin,No party,1371,106271
15,United States President,Williamson,Jill Stein,Independent,526,106271
16,United States President,Williamson,Mike Smith,Independent,318,106271
17,United States President,Williamson,"""Rocky"" Roque De La Fuente",Independent,130,106271
18,United States President,Williamson,Write-In - Darrell L. Castle,No party,102,106271
19,United States President,Williamson,Alyson Kennedy,Independent,67,106271

In [145]:
# create "pct_county_vote" column for tn_2016_pres
tn_2016_pres['pct_county_vote']=round(tn_2016_pres['vote_count']/tn_2016_pres['sum_county_vote']*100,2)
tn_2016_pres

,officename,county,name,party,vote_count,sum_county_vote,pct_county_vote
0,United States President,Wilson,Donald J. Trump,Republican,39406,56734,69.46
1,United States President,Wilson,Hillary Clinton,Democratic,14385,56734,25.36
2,United States President,Wilson,Gary Johnson,Independent,1807,56734,3.19
3,United States President,Wilson,Jill Stein,Independent,467,56734,0.82
4,United States President,Wilson,Write-In - Evan McMullin,Independent,280,56734,0.49
...,...,...,...,...,...,...,...
884,United States President,Anderson,Mike Smith,Independent,174,29881,0.58
885,United States President,Anderson,Write-In - Evan McMullin,No party,115,29881,0.38
886,United States President,Anderson,"""Rocky"" Roque De La Fuente",Independent,74,29881,0.25
887,United States President,Anderson,Alyson Kennedy,Independent,42,29881,0.14
888,United States President,Anderson,Write-In - Darrell L. Castle,No party,28,29881,0.09

In [146]:
# how many parties?
tn_2016_pres['party'].value_counts()

Independent    504
No party       195
Democratic      95
Republican      95
Name: party, dtype: int64

### Create dataframe "tn_2016_county_pres_pct"  with percent values per party per county

In [147]:
# create new dataframe with reduced columns values only
tn_2016_pct_county=tn_2016_pres.loc[0:,['county','party','pct_county_vote']]
tn_2016_pct_county

       county        party  pct_county_vote
0      Wilson   Republican            69.46
1      Wilson   Democratic            25.36
2      Wilson  Independent             3.19
3      Wilson  Independent             0.82
4      Wilson  Independent             0.49
..        ...          ...              ...
884  Anderson  Independent             0.58
885  Anderson     No party             0.38
886  Anderson  Independent             0.25
887  Anderson  Independent             0.14
888  Anderson     No party             0.09

[889 rows x 3 columns]

In [148]:
# create new dataframe with Republican values only
tn_2016_rep_pct=tn_2016_pct_county[tn_2016_pct_county['party']== "Republican"].reset_index(drop=True)
tn_2016_rep_pct

        county       party  pct_county_vote
0       Wilson  Republican            69.46
1   Williamson  Republican            64.19
2        White  Republican            78.08
3      Weakley  Republican            73.93
4        Wayne  Republican            85.98
..         ...         ...              ...
90      Blount  Republican            71.72
91     Bledsoe  Republican            77.66
92      Benton  Republican            74.53
93     Bedford  Republican            74.80
94    Anderson  Republican            64.30

[95 rows x 3 columns]

In [149]:
# rename 'pct_county_vote' to 'rep_pct' and drop "party" column to prepare for merge 
tn_2016_rep_pct=tn_2016_rep_pct.rename(columns={'pct_county_vote':'Republican'},inplace=False).drop(['party'], axis=1)
tn_2016_rep_pct

        county  Republican
0       Wilson       69.46
1   Williamson       64.19
2        White       78.08
3      Weakley       73.93
4        Wayne       85.98
..         ...         ...
90      Blount       71.72
91     Bledsoe       77.66
92      Benton       74.53
93     Bedford       74.80
94    Anderson       64.30

[95 rows x 2 columns]

In [150]:
# create new dataframe with Democratic values only
tn_2016_dem_pct=tn_2016_pct_county[tn_2016_pct_county['party']== "Democratic"].reset_index(drop=True)
tn_2016_dem_pct

        county       party  pct_county_vote
0       Wilson  Democratic            25.36
1   Williamson  Democratic            29.18
2        White  Democratic            18.78
3      Weakley  Democratic            22.75
4        Wayne  Democratic            12.24
..         ...         ...              ...
90      Blount  Democratic            23.18
91     Bledsoe  Democratic            19.23
92      Benton  Democratic            23.29
93     Bedford  Democratic            22.11
94    Anderson  Democratic            30.16

[95 rows x 3 columns]

In [151]:
# rename 'pct_county_vote' to 'dem_pct' and drop "party" to prepare for merge 
tn_2016_dem_pct=tn_2016_dem_pct.rename(columns={'pct_county_vote':'Democratic'},inplace=False).drop(['party'], axis=1)
tn_2016_dem_pct

        county  Democratic
0       Wilson       25.36
1   Williamson       29.18
2        White       18.78
3      Weakley       22.75
4        Wayne       12.24
..         ...         ...
90      Blount       23.18
91     Bledsoe       19.23
92      Benton       23.29
93     Bedford       22.11
94    Anderson       30.16

[95 rows x 2 columns]

In [152]:
# create new dataframe with non Republican or Democratic values only
tn_2016_other_pct=tn_2016_pct_county[(tn_2016_pct_county['party']=="Independent")|(tn_2016_pct_county['party']=="No party")].reset_index(drop=True)
tn_2016_other_pct

       county        party  pct_county_vote
0      Wilson  Independent             3.19
1      Wilson  Independent             0.82
2      Wilson  Independent             0.49
3      Wilson  Independent             0.36
4      Wilson  Independent             0.15
..        ...          ...              ...
694  Anderson  Independent             0.58
695  Anderson     No party             0.38
696  Anderson  Independent             0.25
697  Anderson  Independent             0.14
698  Anderson     No party             0.09

[699 rows x 3 columns]

In [153]:
# sum by county
tn_2016_other_pct=tn_2016_other_pct.groupby(['county'],as_index=False)['pct_county_vote'].sum()
tn_2016_other_pct

        county  pct_county_vote
0     Anderson             5.53
1      Bedford             3.08
2       Benton             2.18
3      Bledsoe             3.11
4       Blount             5.10
..         ...              ...
90       Wayne             1.78
91     Weakley             3.32
92       White             3.14
93  Williamson             6.62
94      Wilson             5.18

[95 rows x 2 columns]

In [154]:
# rename 'pct_county_vote' to 'other_pct' and drop "party" to prepare for merge 
tn_2016_other_pct=tn_2016_other_pct.rename(columns={'pct_county_vote':'Other'})
tn_2016_other_pct

        county  Other
0     Anderson   5.53
1      Bedford   3.08
2       Benton   2.18
3      Bledsoe   3.11
4       Blount   5.10
..         ...    ...
90       Wayne   1.78
91     Weakley   3.32
92       White   3.14
93  Williamson   6.62
94      Wilson   5.18

[95 rows x 2 columns]

In [155]:
# join tn_2016_rep, tn_2016_dem_pct and tn_2016_other_pct to form tn_2016_county_pres_pct
dem=tn_2016_dem_pct['Democratic']
other=tn_2016_other_pct['Other']
tn_2016_county_pres_pct=tn_2016_rep_pct.join(dem).join(other)
tn_2016_county_pres_pct

        county  Republican  Democratic  Other
0       Wilson       69.46       25.36   5.53
1   Williamson       64.19       29.18   3.08
2        White       78.08       18.78   2.18
3      Weakley       73.93       22.75   3.11
4        Wayne       85.98       12.24   5.10
..         ...         ...         ...    ...
90      Blount       71.72       23.18   1.78
91     Bledsoe       77.66       19.23   3.32
92      Benton       74.53       23.29   3.14
93     Bedford       74.80       22.11   6.62
94    Anderson       64.30       30.16   5.18

[95 rows x 4 columns]

### Add column for Republican margin over Democrat for heat mapping in Tableau

In [159]:
tn_2016_county_pres_pct['Rep_Margin']= tn_2016_county_pres_pct['Republican']-tn_2016_county_pres_pct['Democratic']
tn_2016_county_pres_pct.head(25)

        county  Republican  Democratic  Other  Rep_Margin
0       Wilson       69.46       25.36   5.53       44.10
1   Williamson       64.19       29.18   3.08       35.01
2        White       78.08       18.78   2.18       59.30
3      Weakley       73.93       22.75   3.11       51.18
4        Wayne       85.98       12.24   5.10       73.74
5   Washington       68.85       26.18   4.72       42.67
6       Warren       70.09       25.97   3.30       44.12
7    Van Buren       75.24       22.28   3.39       52.96
8        Union       80.89       16.20   2.89       64.69
9       Unicoi       78.82       17.54   3.47       61.28
10   Trousdale       66.55       29.94   4.70       36.61
11      Tipton       72.02       24.64   2.81       47.38
12      Sumner       70.11       25.40   2.85       44.71
13    Sullivan       75.43       20.20   2.47       55.23
14     Stewart       72.92       23.06   2.93       49.86
15       Smith       73.88       22.71   4.08       51.17
16      Shelby       34.48       61.95   2.08      -27.47
17      Sevier       78.84       17.34   2.83       61.50
18  Sequatchie       77.99       18.49   6.29       59.50
19       Scott       84.85       13.11   3.09       71.74
20  Rutherford       60.05       34.17   2.39       25.88
21   Robertson       71.59       24.48   3.99       47.11
22       Roane       73.28       22.32   2.55       50.96
23        Rhea       78.29       17.56   2.40       60.73
24      Putnam       69.83       25.18   2.65       44.65

In [158]:
tn_2016_county_pres_pct.to_excel(r'../data/2016_election/tn_2016_county_pres_pct.xlsx',index=False)

In [108]:
#tn_2016_pct_county['rep_pct']=tn_2016_pct_county['county'].map(tn_2016_rep_pct.set_index('county')['rep_pct'])
#tn_2016_pct_county.head(25)

In [62]:
#tn_2016_pct_county['Rep-margin']=tn_2016_pct_county['rep_pct']-tn_2016_pct_county['pct_county_vote']
#tn_2016_pct_county

KeyError: 'rep_pct'

In [45]:
# Confirm negative numbers
#tn_2016_pct_county['repub_vic_margin'].unique()

array([  0.  ,  44.1 ,  66.27,  68.64,  68.97,  69.1 ,  69.31,  69.34,
        69.42,  69.45,  69.46,  35.01,  59.94,  62.9 ,  63.7 ,  63.89,
        64.07,  64.09,  64.13,  64.18,  64.19,  59.3 ,  76.56,  77.62,
        77.68,  77.82,  77.86,  78.04,  78.06,  51.18,  72.12,  73.42,
        73.58,  73.61,  73.72,  73.85,  73.89,  73.74,  85.02,  85.78,
        85.79,  85.83,  85.84,  85.89,  85.93,  42.67,  65.9 ,  67.89,
        68.43,  68.54,  68.69,  68.74,  68.78,  44.12,  67.6 ,  69.64,
        69.79,  69.83,  69.85,  69.95,  70.04,  70.08,  52.96,  73.34,
        74.91,  75.16,  75.2 ,  64.69,  79.16,  80.51,  80.59,  80.71,
        80.73,  80.76,  80.86,  61.28,  76.89,  78.08,  78.44,  78.58,
        78.63,  78.71,  78.76,  36.61,  64.24,  66.23,  66.3 ,  66.36,
        66.39,  66.42,  47.38,  71.64,  71.75,  71.79,  71.85,  71.88,
        71.93,  44.71,  67.17,  69.59,  69.6 ,  69.86,  69.97,  70.01,
        70.11,  55.23,  72.55,  74.86,  75.16,  75.28,  75.31,  75.34,
        75.42,  49.86,  70.15,  72.52,  72.67,  72.69,  72.84,  51.17,
        71.58,  73.48,  73.62,  73.73,  73.79,  73.8 ,  73.87, -27.47,
        32.42,  33.89,  34.07,  34.3 ,  34.32,  34.37,  34.42,  34.48,
        61.5 ,  76.32,  78.26,  78.63,  78.74,  78.8 ,  78.83,  59.5 ,
        75.74,  77.55,  77.69,  77.74,  77.83,  77.92,  77.94,  71.74,
        83.73,  84.46,  84.56,  84.71,  84.77,  25.88,  56.41,  59.22,
        59.46,  59.71,  59.89,  59.93,  59.99,  60.02,  60.04,  47.11,
        68.95,  71.  ,  71.35,  71.41,  71.43,  71.51,  71.59,  50.96,
        70.53,  72.81,  72.88,  72.97,  73.  ,  73.1 ,  60.73,  76.29,
        77.44,  77.81,  77.97,  78.  ,  78.17,  78.18,  44.65,  67.05,
        69.  ,  69.23,  69.51,  69.69,  69.71,  69.72,  69.74,  58.97,
        76.42,  77.77,  77.82,  78.11,  56.78,  75.9 ,  76.97,  77.01,
        77.2 ,  77.24,  54.99,  73.83,  75.09,  75.76,  75.79,  75.83,
        49.99,  72.28,  73.25,  73.28,  73.41,  73.45,  73.5 ,  73.57,
        73.59,  73.61,  57.96,  76.19,  77.48,  77.58,  77.61,  77.62,
        77.72,  77.76,  65.43,  79.43,  80.81,  80.9 ,  80.96,  81.02,
        81.08,  62.51,  77.03,  78.88,  79.19,  79.22,  79.39,  18.47,
        52.07,  55.19,  55.71,  55.83,  55.9 ,  55.97,  56.03,  56.13,
        59.6 ,  76.22,  77.9 ,  77.93,  78.06,  78.13,  78.22,  57.55,
        75.58,  76.92,  76.99,  77.27,  77.31,  59.7 ,  76.62,  77.49,
        77.91,  78.04,  59.61,  76.52,  77.96,  78.14,  78.18,  78.28,
        78.32,  38.91,  64.68,  66.65,  66.82,  67.04,  67.15,  67.19,
        67.28,  46.54,  69.21,  70.92,  71.14,  71.24,  71.28,  71.3 ,
        71.35,  71.42,  44.78,  68.82,  70.39,  70.65,  70.68,  70.73,
        70.76,  15.45,  54.24,  55.15,  55.6 ,  55.74,  55.77,  55.86,
        55.92,  55.97,  69.17,  82.25,  82.98,  83.22,  83.33,  83.35,
        83.41,  83.43,  54.26,  74.92,  74.96,  75.08,  75.11,  75.2 ,
        75.26,  75.27,  58.77,  76.17,  77.56,  77.59,  77.76,  77.8 ,
        58.3 ,  76.28,  76.65,  77.26,  77.34,  77.37,  77.39,  77.47,
        77.54,  61.27,  78.79,  79.05,  79.15,  79.2 ,  79.26,  79.27,
        22.6 ,  59.31,  60.22,  60.23,  60.27,  60.34,  60.38,  39.59,
        67.97,  68.58,  68.63,  68.83,  23.73,  54.4 ,  57.63,  57.85,
        57.98,  58.32,  58.4 ,  58.46,  58.53,  67.21,  80.68,  81.64,
        82.06,  82.09,  82.12,  82.14,  59.15,  74.86,  76.87,  77.07,
        77.21,  77.29,  77.35,  77.43,  77.46,  47.18,  71.07,  72.08,
        72.21,  72.3 ,  72.42,  72.44,  41.42,  66.6 ,  68.56,  68.6 ,
        68.68,  68.75,  68.82,  68.85,  41.54,  66.1 ,  68.5 ,  68.6 ,
        68.66,  49.54,  70.83,  72.39,  72.61,  72.63,  72.65,  72.66,
        72.7 ,  49.79,  71.73,  72.99,  73.24,  73.31,  73.33,  62.03,
        77.97,  79.27,  79.47,  79.52,  79.56,  79.64, -10.21,  43.21,
        43.81,  43.93,  43.94,  63.26,  78.23,  79.7 ,  79.89,  79.99,
        80.01,  80.08,  80.11,  80.13,  64.23,  79.18,  79.57,  80.05,
        80.31,  80.38,   7.92,  52.14,  52.73,  52.86,  52.91,  52.93,
        52.95,  53.01,  68.18,  82.03,  82.39,  82.43,  82.57,  16.45,
        51.47,  54.52,  54.55,  55.04,  55.19,  55.21,  55.29,  56.94,
        74.49,  76.18,  76.49,  76.5 ,  76.59,  76.63,  55.37,  74.66,
        75.94,  76.07,  76.11,  76.3 ,  60.83,  76.67,  78.07,  78.47,
        78.52,  78.59,  78.65,  68.33,  81.12,  82.42,  82.53,  82.59,
        82.6 ,  82.69,  45.37,  71.19,  71.46,  71.49,  71.55,  43.63,
        70.19,  70.31,  70.35,  70.4 ,  70.44,  70.49,  70.52,  43.64,
        68.36,  69.9 ,  70.13,  70.15,  70.2 ,  70.26,  70.29,  67.34,
        80.88,  81.84,  82.15,  82.19,  82.2 ,  82.33,  37.02,  65.96,
        66.99,  67.06,  67.12,  67.2 ,  67.23,  55.21,  74.88,  75.97,
        76.05,  76.13,  76.23,  76.31,  45.52,  68.15,  70.27,  70.46,
        70.55,  70.6 ,  70.67,  70.72,  70.75,  58.67,  77.79,  78.03,
        78.05,  78.1 ,  51.79,  72.67,  73.65,  73.93,  74.21,  74.26,
        74.29, -25.82,  30.09,  32.96,  33.09,  33.7 ,  33.78,  33.83,
        33.91,  33.95,  57.71,  75.65,  77.06,  77.28,  77.3 ,  77.38,
        77.44,  49.64,  72.37,  73.54,  73.63,  73.65,  73.71,  73.72,
        73.76,  48.44,  71.62,  71.92,  72.03,  72.07,  72.14,  72.18,
        64.4 ,  79.  ,  80.25,  80.52,  80.57,  80.58,  80.63,  80.72,
        49.11,  71.71,  72.94,  72.98,  63.03,  78.3 ,  79.82,  79.84,
        79.87,  79.94,  80.07,  58.99,  78.01,  46.59,  68.03,  70.32,
        70.37,  70.63,  70.78,  70.86,  70.89,  63.77,  78.21,  79.53,
        79.85,  80.03,  80.06,  52.28,  72.95,  74.31,  74.48,  74.5 ,
        74.51,  74.52,  74.67,  54.19,  73.41,  74.85,  75.06,  75.23,
        75.25,  60.82,  76.76,  78.4 ,  78.42,  78.5 ,  78.56,  78.66,
        78.72,  58.71,  74.15,  76.38,  76.45,  76.62,  76.82,  76.88,
        76.91,  48.54,  68.53,  71.12,  71.29,  71.56,  71.72,  58.43,
        75.62,  77.45,  77.51,  77.57,  51.24,  73.22,  74.32,  74.34,
        74.36,  52.69,  74.64,  74.75,  74.77,  34.14,  60.84,  63.67,
        63.72,  63.92,  64.05,  64.16,  64.21])

In [46]:
# join tn_2016_margin 'rep_vic_margin' column to tn_2016_pres
#rep_pct=tn_2016_pct_county['repub_vic_margin']
#tn_2016_pres=tn_2016_pres.join(rep_pct)
#tn_2016_pres.head(3)

,officename,county,name,party,vote_count,sum_county_vote,pct_county_vote,repub_vic_margin
0,United States President,Wilson,Donald J. Trump,Republican,39406,56734,69.46,0.00
1,United States President,Wilson,Hillary Clinton,Democratic,14385,56734,25.36,44.10
2,United States President,Wilson,Gary Johnson,Independent,1807,56734,3.19,66.27