In [54]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [55]:
%matplotlib inline
pd.set_option('display.max_columns', None)

In [56]:
# import excel file 2006Gov.xlsx
tn_2006g=pd.read_excel('../data/2006_election/2006Gov.xlsx')
tn_2006g

,Electdate,County,Phil Bredesen - D,Jim Bryson - R,George Banks - I,David Gatchell - I,Marivuana Stout Leinoff - I,Charles E. Smith - I,Howard M. Switzer - I,"Carl ""Twofeathers"" Whitaker - I",Write-in - John Jay Hooker - I,Unnamed: 11
0,2006-11-07,ANDERSON,16881,6049,80,22,20,26,44,194,0,NaN
1,2006-11-07,BEDFORD,7240,3215,46,22,8,23,4,55,0,NaN
2,2006-11-07,BENTON,4128,1273,49,8,3,15,4,39,0,NaN
3,2006-11-07,BLEDSOE,2274,1560,27,5,3,15,5,46,0,NaN
4,2006-11-07,BLOUNT,23433,11791,141,38,25,28,45,314,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
90,2006-11-07,WAYNE,2232,1831,26,5,3,8,9,20,0,NaN
91,2006-11-07,WEAKLEY,7233,2621,68,13,10,74,16,87,0,NaN
92,2006-11-07,WHITE,5231,2140,58,10,4,65,7,75,0,NaN
93,2006-11-07,WILLIAMSON,35058,25384,63,44,41,34,66,214,0,NaN
94,2006-11-07,WILSON,23207,11990,93,31,33,49,39,231,0,NaN

In [57]:
tn_2006g.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Electdate                        95 non-null     datetime64[ns]
 1   County                           95 non-null     object
 2   Phil Bredesen - D                95 non-null     int64
 3   Jim Bryson - R                   95 non-null     int64
 4   George Banks - I                 95 non-null     int64
 5   David Gatchell - I               95 non-null     int64
 6   Marivuana Stout Leinoff - I      95 non-null     int64
 7   Charles E. Smith - I             95 non-null     int64
 8   Howard M. Switzer - I            95 non-null     int64
 9   Carl "Twofeathers" Whitaker - I  95 non-null     int64
 10  Write-in - John Jay Hooker - I   95 non-null     int64
 11  Unnamed: 11                      0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(9), object(1)
memory usage: 9.0+ KB

In [58]:
# drop columns "Unnamed: 11"
tn_2006g=tn_2006g.drop(columns=['Unnamed: 11'],axis=1)                     
tn_2006g

,Electdate,County,Phil Bredesen - D,Jim Bryson - R,George Banks - I,David Gatchell - I,Marivuana Stout Leinoff - I,Charles E. Smith - I,Howard M. Switzer - I,"Carl ""Twofeathers"" Whitaker - I",Write-in - John Jay Hooker - I
0,2006-11-07,ANDERSON,16881,6049,80,22,20,26,44,194,0
1,2006-11-07,BEDFORD,7240,3215,46,22,8,23,4,55,0
2,2006-11-07,BENTON,4128,1273,49,8,3,15,4,39,0
3,2006-11-07,BLEDSOE,2274,1560,27,5,3,15,5,46,0
4,2006-11-07,BLOUNT,23433,11791,141,38,25,28,45,314,0
...,...,...,...,...,...,...,...,...,...,...,...
90,2006-11-07,WAYNE,2232,1831,26,5,3,8,9,20,0
91,2006-11-07,WEAKLEY,7233,2621,68,13,10,74,16,87,0
92,2006-11-07,WHITE,5231,2140,58,10,4,65,7,75,0
93,2006-11-07,WILLIAMSON,35058,25384,63,44,41,34,66,214,0
94,2006-11-07,WILSON,23207,11990,93,31,33,49,39,231,0

In [59]:
# merge columns with candidate name headers into new column "candidate" -- set aside for possible later use 
tn_2006g_set_aside=tn_2006g.melt(id_vars=['Electdate','County'],value_vars=['Phil Bredesen - D','Jim Bryson - R','George Banks - I','David Gatchell - I','Marivuana Stout Leinoff - I','Charles E. Smith - I','Howard M. Switzer - I','Carl "Twofeathers" Whitaker - I','Write-in - John Jay Hooker - I'],value_name='vote_count',var_name="candidate")                         
tn_2006g_set_aside

     Electdate      County                       candidate  vote_count
0   2006-11-07    ANDERSON               Phil Bredesen - D       16881
1   2006-11-07     BEDFORD               Phil Bredesen - D        7240
2   2006-11-07      BENTON               Phil Bredesen - D        4128
3   2006-11-07     BLEDSOE               Phil Bredesen - D        2274
4   2006-11-07      BLOUNT               Phil Bredesen - D       23433
..         ...         ...                             ...         ...
850 2006-11-07       WAYNE  Write-in - John Jay Hooker - I           0
851 2006-11-07     WEAKLEY  Write-in - John Jay Hooker - I           0
852 2006-11-07       WHITE  Write-in - John Jay Hooker - I           0
853 2006-11-07  WILLIAMSON  Write-in - John Jay Hooker - I           0
854 2006-11-07      WILSON  Write-in - John Jay Hooker - I           0

[855 rows x 4 columns]

In [60]:
# create dataframe to use with vote counts by party by county
tn_2006CP=tn_2006g.melt(id_vars=['Electdate','County','Phil Bredesen - D','Jim Bryson - R'],value_vars=['George Banks - I','David Gatchell - I','Marivuana Stout Leinoff - I','Charles E. Smith - I','Howard M. Switzer - I','Carl "Twofeathers" Whitaker - I','Write-in - John Jay Hooker - I'],value_name='Other')                         
# drop column "variable" created by .melt
tn_2006CP=tn_2006CP.drop(['variable'],axis=1) 
tn_2006CP

     Electdate      County  Phil Bredesen - D  Jim Bryson - R  Other
0   2006-11-07    ANDERSON              16881            6049     80
1   2006-11-07     BEDFORD               7240            3215     46
2   2006-11-07      BENTON               4128            1273     49
3   2006-11-07     BLEDSOE               2274            1560     27
4   2006-11-07      BLOUNT              23433           11791    141
..         ...         ...                ...             ...    ...
660 2006-11-07       WAYNE               2232            1831      0
661 2006-11-07     WEAKLEY               7233            2621      0
662 2006-11-07       WHITE               5231            2140      0
663 2006-11-07  WILLIAMSON              35058           25384      0
664 2006-11-07      WILSON              23207           11990      0

[665 rows x 5 columns]

In [61]:
# rename column "Phil Bredesen - D" to "Democratic", "Jim Bryson - R" to "Republican"
tn_2006CP.rename(columns={"Phil Bredesen - D":"Democratic","Jim Bryson - R":"Republican"},inplace=True) 
tn_2006CP

     Electdate      County  Democratic  Republican  Other
0   2006-11-07    ANDERSON       16881        6049     80
1   2006-11-07     BEDFORD        7240        3215     46
2   2006-11-07      BENTON        4128        1273     49
3   2006-11-07     BLEDSOE        2274        1560     27
4   2006-11-07      BLOUNT       23433       11791    141
..         ...         ...         ...         ...    ...
660 2006-11-07       WAYNE        2232        1831      0
661 2006-11-07     WEAKLEY        7233        2621      0
662 2006-11-07       WHITE        5231        2140      0
663 2006-11-07  WILLIAMSON       35058       25384      0
664 2006-11-07      WILSON       23207       11990      0

[665 rows x 5 columns]

In [62]:
tn_2006CP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 665 entries, 0 to 664
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Electdate   665 non-null    datetime64[ns]
 1   County      665 non-null    object
 2   Democratic  665 non-null    int64
 3   Republican  665 non-null    int64
 4   Other       665 non-null    int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 26.1+ KB

### Look for 0 values in "Other" column indicating no votes

In [63]:
tn_2006CP["Other"].value_counts()

0      99
5      23
7      21
15     21
10     20
       ..
130     1
139     1
141     1
144     1
74      1
Name: Other, Length: 147, dtype: int64

### 99 are 0, drop those rows

In [64]:
tn_2006CP=tn_2006CP[tn_2006CP["Other"]!= 0].reset_index(drop=True)
tn_2006CP

     Electdate      County  Democratic  Republican  Other
0   2006-11-07    ANDERSON       16881        6049     80
1   2006-11-07     BEDFORD        7240        3215     46
2   2006-11-07      BENTON        4128        1273     49
3   2006-11-07     BLEDSOE        2274        1560     27
4   2006-11-07      BLOUNT       23433       11791    141
..         ...         ...         ...         ...    ...
561 2006-11-07       WHITE        5231        2140     75
562 2006-11-07  WILLIAMSON       35058       25384    214
563 2006-11-07      WILSON       23207       11990    231
564 2006-11-07    DAVIDSON      132712       38977      5
565 2006-11-07      PUTNAM       13830        5879      2

[566 rows x 5 columns]

### Sever column "Other" so it can be totalled by county and then re-attached. Remaining df  should have 95 rows (one for each county)

In [65]:
# create new df "tn_2006_other"
tn_2006_other=tn_2006CP.drop(columns=['Electdate','Democratic',"Republican"])
tn_2006_other

         County  Other
0      ANDERSON     80
1       BEDFORD     46
2        BENTON     49
3       BLEDSOE     27
4        BLOUNT    141
..          ...    ...
561       WHITE     75
562  WILLIAMSON    214
563      WILSON    231
564    DAVIDSON      5
565      PUTNAM      2

[566 rows x 2 columns]

In [66]:
# sum values in "Other" coumn by county
tn_2006_pres_other=tn_2006_other.groupby(['County'],as_index=False)['Other'].sum()
tn_2006_pres_other

        County  Other
0     ANDERSON    386
1      BEDFORD    158
2       BENTON    118
3      BLEDSOE    101
4       BLOUNT    591
..         ...    ...
90       WAYNE     71
91     WEAKLEY    268
92       WHITE    219
93  WILLIAMSON    462
94      WILSON    476

[95 rows x 2 columns]

In [67]:
# see if dropping "Other" column of df tn_2006CP leaves 95 rows
tn_2006CP=tn_2006CP.drop(columns=['Other'])
tn_2006CP

     Electdate      County  Democratic  Republican
0   2006-11-07    ANDERSON       16881        6049
1   2006-11-07     BEDFORD        7240        3215
2   2006-11-07      BENTON        4128        1273
3   2006-11-07     BLEDSOE        2274        1560
4   2006-11-07      BLOUNT       23433       11791
..         ...         ...         ...         ...
561 2006-11-07       WHITE        5231        2140
562 2006-11-07  WILLIAMSON       35058       25384
563 2006-11-07      WILSON       23207       11990
564 2006-11-07    DAVIDSON      132712       38977
565 2006-11-07      PUTNAM       13830        5879

[566 rows x 4 columns]

#### It does not, drop duplicate rows

In [68]:
tn_2006_gov=tn_2006CP.drop_duplicates()
tn_2006_gov

    Electdate      County  Democratic  Republican
0  2006-11-07    ANDERSON       16881        6049
1  2006-11-07     BEDFORD        7240        3215
2  2006-11-07      BENTON        4128        1273
3  2006-11-07     BLEDSOE        2274        1560
4  2006-11-07      BLOUNT       23433       11791
..        ...         ...         ...         ...
90 2006-11-07       WAYNE        2232        1831
91 2006-11-07     WEAKLEY        7233        2621
92 2006-11-07       WHITE        5231        2140
93 2006-11-07  WILLIAMSON       35058       25384
94 2006-11-07      WILSON       23207       11990

[95 rows x 4 columns]

In [70]:
# merge tn_2006 pres and tn_2006_pres_other
other=tn_2006_other['Other']
tn_2006_gov=tn_2006_gov.join(other)
tn_2006_gov

    Electdate      County  Democratic  Republican  Other
0  2006-11-07    ANDERSON       16881        6049     80
1  2006-11-07     BEDFORD        7240        3215     46
2  2006-11-07      BENTON        4128        1273     49
3  2006-11-07     BLEDSOE        2274        1560     27
4  2006-11-07      BLOUNT       23433       11791    141
..        ...         ...         ...         ...    ...
90 2006-11-07       WAYNE        2232        1831     26
91 2006-11-07     WEAKLEY        7233        2621     68
92 2006-11-07       WHITE        5231        2140     58
93 2006-11-07  WILLIAMSON       35058       25384     63
94 2006-11-07      WILSON       23207       11990     93

[95 rows x 5 columns]

In [71]:
tn_2006_gov.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95 entries, 0 to 94
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Electdate   95 non-null     datetime64[ns]
 1   County      95 non-null     object
 2   Democratic  95 non-null     int64
 3   Republican  95 non-null     int64
 4   Other       95 non-null     int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 7.0+ KB

### Add column that has total vote count by county for use in calculating county vote percentages

In [72]:
# sum of votes per county
tn_2006_gov['sum_county_vote']=tn_2006_gov.sum(axis=1)
tn_2006_gov

    Electdate      County  Democratic  Republican  Other  sum_county_vote
0  2006-11-07    ANDERSON       16881        6049     80            23010
1  2006-11-07     BEDFORD        7240        3215     46            10501
2  2006-11-07      BENTON        4128        1273     49             5450
3  2006-11-07     BLEDSOE        2274        1560     27             3861
4  2006-11-07      BLOUNT       23433       11791    141            35365
..        ...         ...         ...         ...    ...              ...
90 2006-11-07       WAYNE        2232        1831     26             4089
91 2006-11-07     WEAKLEY        7233        2621     68             9922
92 2006-11-07       WHITE        5231        2140     58             7429
93 2006-11-07  WILLIAMSON       35058       25384     63            60505
94 2006-11-07      WILSON       23207       11990     93            35290

[95 rows x 6 columns]

In [73]:
# create "pct_county_vote" column for tn_2004_pres
tn_2006_gov['Democratic_pct']=round(tn_2006_gov['Democratic']/tn_2006_gov['sum_county_vote']*100,2)
tn_2006_gov['Republican_pct']=round(tn_2006_gov['Republican']/tn_2006_gov['sum_county_vote']*100,2)
tn_2006_gov['Other_pct']=round(tn_2006_gov['Other']/tn_2006_gov['sum_county_vote']*100,2)
tn_2006_gov.head(20)

,Electdate,County,Democratic,Republican,Other,sum_county_vote,Democratic_pct,Republican_pct,Other_pct
0,2006-11-07,ANDERSON,16881,6049,80,23010,73.36,26.29,0.35
1,2006-11-07,BEDFORD,7240,3215,46,10501,68.95,30.62,0.44
2,2006-11-07,BENTON,4128,1273,49,5450,75.74,23.36,0.90
3,2006-11-07,BLEDSOE,2274,1560,27,3861,58.90,40.40,0.70
4,2006-11-07,BLOUNT,23433,11791,141,35365,66.26,33.34,0.40
5,2006-11-07,BRADLEY,14492,11401,110,26003,55.73,43.84,0.42
6,2006-11-07,CAMPBELL,6793,3073,48,9914,68.52,31.00,0.48
7,2006-11-07,CANNON,2978,1167,29,4174,71.35,27.96,0.69
8,2006-11-07,CARROLL,6379,2493,73,8945,71.31,27.87,0.82
9,2006-11-07,CARTER,9211,6686,122,16019,57.50,41.74,0.76
10,2006-11-07,CHEATHAM,7506,3824,46,11376,65.98,33.61,0.40
11,2006-11-07,CHESTER,2730,1547,15,4292,63.61,36.04,0.35
12,2006-11-07,CLAIBORNE,4732,2693,52,7477,63.29,36.02,0.70
13,2006-11-07,CLAY,1717,685,28,2430,70.66,28.19,1.15
14,2006-11-07,COCKE,5741,3752,66,9559,60.06,39.25,0.69
15,2006-11-07,COFFEE,10498,4534,81,15113,69.46,30.00,0.54
16,2006-11-07,CROCKETT,3299,1090,19,4408,74.84,24.73,0.43
17,2006-11-07,CUMBERLAND,11741,7172,78,18991,61.82,37.77,0.41
18,2006-11-07,DAVIDSON,132712,38977,505,172194,77.07,22.64,0.29
19,2006-11-07,DECATUR,2791,1068,36,3895,71.66,27.42,0.92

### Add column for Republican margin over Democrat for heat mapping in Tableau

In [74]:
tn_2006_gov['Rep_Margin']= tn_2006_gov['Republican_pct']-tn_2006_gov['Democratic_pct']
tn_2006_gov.head(50)

,Electdate,County,Democratic,Republican,Other,sum_county_vote,Democratic_pct,Republican_pct,Other_pct,Rep_Margin
0,2006-11-07,ANDERSON,16881,6049,80,23010,73.36,26.29,0.35,-47.07
1,2006-11-07,BEDFORD,7240,3215,46,10501,68.95,30.62,0.44,-38.33
2,2006-11-07,BENTON,4128,1273,49,5450,75.74,23.36,0.90,-52.38
3,2006-11-07,BLEDSOE,2274,1560,27,3861,58.90,40.40,0.70,-18.50
4,2006-11-07,BLOUNT,23433,11791,141,35365,66.26,33.34,0.40,-32.92
5,2006-11-07,BRADLEY,14492,11401,110,26003,55.73,43.84,0.42,-11.89
6,2006-11-07,CAMPBELL,6793,3073,48,9914,68.52,31.00,0.48,-37.52
7,2006-11-07,CANNON,2978,1167,29,4174,71.35,27.96,0.69,-43.39
8,2006-11-07,CARROLL,6379,2493,73,8945,71.31,27.87,0.82,-43.44
9,2006-11-07,CARTER,9211,6686,122,16019,57.50,41.74,0.76,-15.76
10,2006-11-07,CHEATHAM,7506,3824,46,11376,65.98,33.61,0.40,-32.37
11,2006-11-07,CHESTER,2730,1547,15,4292,63.61,36.04,0.35,-27.57
12,2006-11-07,CLAIBORNE,4732,2693,52,7477,63.29,36.02,0.70,-27.27
13,2006-11-07,CLAY,1717,685,28,2430,70.66,28.19,1.15,-42.47
14,2006-11-07,COCKE,5741,3752,66,9559,60.06,39.25,0.69,-20.81
15,2006-11-07,COFFEE,10498,4534,81,15113,69.46,30.00,0.54,-39.46
16,2006-11-07,CROCKETT,3299,1090,19,4408,74.84,24.73,0.43,-50.11
17,2006-11-07,CUMBERLAND,11741,7172,78,18991,61.82,37.77,0.41,-24.05
18,2006-11-07,DAVIDSON,132712,38977,505,172194,77.07,22.64,0.29,-54.43
19,2006-11-07,DECATUR,2791,1068,36,3895,71.66,27.42,0.92,-44.24
20,2006-11-07,DEKALB,3848,1559,38,5445,70.67,28.63,0.70,-42.04
21,2006-11-07,DICKSON,10016,4164,73,14253,70.27,29.21,0.51,-41.06
22,2006-11-07,DYER,7642,3130,81,10853,70.41,28.84,0.75,-41.57
23,2006-11-07,FAYETTE,7701,4599,50,12350,62.36,37.24,0.40,-25.12
24,2006-11-07,FENTRESS,2859,2207,30,5096,56.10,43.31,0.59,-12.79
25,2006-11-07,FRANKLIN,9179,3430,57,12666,72.47,27.08,0.45,-45.39
26,2006-11-07,GIBSON,11473,3890,80,15443,74.29,25.19,0.52,-49.10
27,2006-11-07,GILES,6135,2243,48,8426,72.81,26.62,0.57,-46.19
28,2006-11-07,GRAINGER,3289,2100,33,5422,60.66,38.73,0.61,-21.93
29,2006-11-07,GREENE,10669,7376,88,18133,58.84,40.68,0.49,-18.16
30,2006-11-07,GRUNDY,2692,1024,54,3770,71.41,27.16,1.43,-44.25
31,2006-11-07,HAMBLEN,10377,6057,57,16491,62.93,36.73,0.35,-26.20
32,2006-11-07,HAMILTON,75261,30482,277,106020,70.99,28.75,0.26,-42.24
33,2006-11-07,HANCOCK,960,880,12,1852,51.84,47.52,0.65,-4.32
34,2006-11-07,HARDEMAN,5895,1740,55,7690,76.66,22.63,0.72,-54.03
35,2006-11-07,HARDIN,4666,2516,48,7230,64.54,34.80,0.66,-29.74
36,2006-11-07,HAWKINS,8903,5552,63,14518,61.32,38.24,0.43,-23.08
37,2006-11-07,HAYWOOD,4722,1093,32,5847,80.76,18.69,0.55,-62.07
38,2006-11-07,HENDERSON,5293,3072,63,8428,62.80,36.45,0.75,-26.35
39,2006-11-07,HENRY,7289,2402,60,9751,74.75,24.63,0.62,-50.12
40,2006-11-07,HICKMAN,4714,1844,45,6603,71.39,27.93,0.68,-43.46
41,2006-11-07,HOUSTON,2111,567,11,2689,78.51,21.09,0.41,-57.42
42,2006-11-07,HUMPHREYS,4824,1354,22,6200,77.81,21.84,0.35,-55.97
43,2006-11-07,JACKSON,2895,924,23,3842,75.35,24.05,0.60,-51.30
44,2006-11-07,JEFFERSON,8307,4782,60,13149,63.18,36.37,0.46,-26.81
45,2006-11-07,JOHNSON,2491,2214,32,4737,52.59,46.74,0.68,-5.85
46,2006-11-07,KNOX,87537,33266,364,121167,72.24,27.45,0.30,-44.79
47,2006-11-07,LAKE,1252,257,10,1519,82.42,16.92,0.66,-65.50
48,2006-11-07,LAUDERDALE,5146,1567,35,6748,76.26,23.22,0.52,-53.04
49,2006-11-07,LAWRENCE,7843,4399,62,12304,63.74,35.75,0.50,-27.99

In [75]:
# Title county names in prepartion for merge with shape file
tn_2006_gov['County']=tn_2006_gov['County'].str.title()
tn_2006_gov

,Electdate,County,Democratic,Republican,Other,sum_county_vote,Democratic_pct,Republican_pct,Other_pct,Rep_Margin
0,2006-11-07,Anderson,16881,6049,80,23010,73.36,26.29,0.35,-47.07
1,2006-11-07,Bedford,7240,3215,46,10501,68.95,30.62,0.44,-38.33
2,2006-11-07,Benton,4128,1273,49,5450,75.74,23.36,0.90,-52.38
3,2006-11-07,Bledsoe,2274,1560,27,3861,58.90,40.40,0.70,-18.50
4,2006-11-07,Blount,23433,11791,141,35365,66.26,33.34,0.40,-32.92
...,...,...,...,...,...,...,...,...,...,...
90,2006-11-07,Wayne,2232,1831,26,4089,54.59,44.78,0.64,-9.81
91,2006-11-07,Weakley,7233,2621,68,9922,72.90,26.42,0.69,-46.48
92,2006-11-07,White,5231,2140,58,7429,70.41,28.81,0.78,-41.60
93,2006-11-07,Williamson,35058,25384,63,60505,57.94,41.95,0.10,-15.99
94,2006-11-07,Wilson,23207,11990,93,35290,65.76,33.98,0.26,-31.78

In [76]:
# correct county names: Dekalb to DeKalb, Mcminn to McMinn, Mcnairy to McNairy 
tn_2006_gov['County']=tn_2006_gov['County'].str.replace('Dekalb','DeKalb').str.replace('Mcminn','McMinn').str.replace('Mcnairy','McNairy')
tn_2006_gov.tail(40)

,Electdate,County,Democratic,Republican,Other,sum_county_vote,Democratic_pct,Republican_pct,Other_pct,Rep_Margin
55,2006-11-07,Marion,6162,2407,75,8644,71.29,27.85,0.87,-43.44
56,2006-11-07,Marshall,6050,2178,46,8274,73.12,26.32,0.56,-46.80
57,2006-11-07,Maury,16274,6778,66,23118,70.40,29.32,0.29,-41.08
58,2006-11-07,McMinn,8299,5195,86,13580,61.11,38.25,0.63,-22.86
59,2006-11-07,McNairy,4855,2708,48,7611,63.79,35.58,0.63,-28.21
60,2006-11-07,Meigs,2046,1156,21,3223,63.48,35.87,0.65,-27.61
61,2006-11-07,Monroe,7484,4876,38,12398,60.36,39.33,0.31,-21.03
62,2006-11-07,Montgomery,25465,9185,188,34838,73.10,26.36,0.54,-46.74
63,2006-11-07,Moore,1388,700,13,2101,66.06,33.32,0.62,-32.74
64,2006-11-07,Morgan,3454,1507,25,4986,69.27,30.22,0.50,-39.05
65,2006-11-07,Obion,7539,2049,53,9641,78.20,21.25,0.55,-56.95
66,2006-11-07,Overton,4820,1645,40,6505,74.10,25.29,0.61,-48.81
67,2006-11-07,Perry,1673,600,12,2285,73.22,26.26,0.53,-46.96
68,2006-11-07,Pickett,1205,890,6,2101,57.35,42.36,0.29,-14.99
69,2006-11-07,Polk,3218,1772,44,5034,63.93,35.20,0.87,-28.73
70,2006-11-07,Putnam,13830,5879,120,19829,69.75,29.65,0.61,-40.10
71,2006-11-07,Rhea,5004,3297,41,8342,59.99,39.52,0.49,-20.47
72,2006-11-07,Roane,12389,4807,82,17278,71.70,27.82,0.47,-43.88
73,2006-11-07,Robertson,12664,5995,67,18726,67.63,32.01,0.36,-35.62
74,2006-11-07,Rutherford,40034,20535,224,60793,65.85,33.78,0.37,-32.07
75,2006-11-07,Scott,3230,1931,47,5208,62.02,37.08,0.90,-24.94
76,2006-11-07,Sequatchie,2761,1351,32,4144,66.63,32.60,0.77,-34.03
77,2006-11-07,Sevier,13355,9023,83,22461,59.46,40.17,0.37,-19.29
78,2006-11-07,Shelby,210470,64593,1147,276210,76.20,23.39,0.42,-52.81
79,2006-11-07,Smith,4719,1531,28,6278,75.17,24.39,0.45,-50.78
80,2006-11-07,Stewart,3314,952,31,4297,77.12,22.15,0.72,-54.97
81,2006-11-07,Sullivan,27024,17479,210,44713,60.44,39.09,0.47,-21.35
82,2006-11-07,Sumner,29713,15938,139,45790,64.89,34.81,0.30,-30.08
83,2006-11-07,Tipton,10433,5843,78,16354,63.79,35.73,0.48,-28.06
84,2006-11-07,Trousdale,2000,557,13,2570,77.82,21.67,0.51,-56.15
85,2006-11-07,Unicoi,3298,2095,34,5427,60.77,38.60,0.63,-22.17
86,2006-11-07,Union,2743,1653,20,4416,62.12,37.43,0.45,-24.69
87,2006-11-07,Van Buren,1347,533,10,1890,71.27,28.20,0.53,-43.07
88,2006-11-07,Warren,8324,2848,67,11239,74.06,25.34,0.60,-48.72
89,2006-11-07,Washington,21092,12360,130,33582,62.81,36.81,0.39,-26.00
90,2006-11-07,Wayne,2232,1831,26,4089,54.59,44.78,0.64,-9.81
91,2006-11-07,Weakley,7233,2621,68,9922,72.90,26.42,0.69,-46.48
92,2006-11-07,White,5231,2140,58,7429,70.41,28.81,0.78,-41.60
93,2006-11-07,Williamson,35058,25384,63,60505,57.94,41.95,0.10,-15.99
94,2006-11-07,Wilson,23207,11990,93,35290,65.76,33.98,0.26,-31.78

In [77]:
#read TN_county_index_shape.csv to add index from TN Counties shape file for joining in Tableau
county_index=pd.read_csv('../data/TN_county_index_shape.csv')
county_index

        county  INDEX_NO
0     Anderson        79
1      Bedford        26
2       Benton        41
3      Bledsoe        31
4       Blount        52
..         ...       ...
90       Wayne         6
91     Weakley        56
92       White        67
93  Williamson        44
94      Wilson        65

[95 rows x 2 columns]

In [78]:
# join with tn_2004_pres
tn_2006_gov=tn_2006_gov.merge(county_index,left_on='County',right_on='county')
tn_2006_gov

,Electdate,County,Democratic,Republican,Other,sum_county_vote,Democratic_pct,Republican_pct,Other_pct,Rep_Margin,county,INDEX_NO
0,2006-11-07,Anderson,16881,6049,80,23010,73.36,26.29,0.35,-47.07,Anderson,79
1,2006-11-07,Bedford,7240,3215,46,10501,68.95,30.62,0.44,-38.33,Bedford,26
2,2006-11-07,Benton,4128,1273,49,5450,75.74,23.36,0.90,-52.38,Benton,41
3,2006-11-07,Bledsoe,2274,1560,27,3861,58.90,40.40,0.70,-18.50,Bledsoe,31
4,2006-11-07,Blount,23433,11791,141,35365,66.26,33.34,0.40,-32.92,Blount,52
...,...,...,...,...,...,...,...,...,...,...,...,...
90,2006-11-07,Wayne,2232,1831,26,4089,54.59,44.78,0.64,-9.81,Wayne,6
91,2006-11-07,Weakley,7233,2621,68,9922,72.90,26.42,0.69,-46.48,Weakley,56
92,2006-11-07,White,5231,2140,58,7429,70.41,28.81,0.78,-41.60,White,67
93,2006-11-07,Williamson,35058,25384,63,60505,57.94,41.95,0.10,-15.99,Williamson,44
94,2006-11-07,Wilson,23207,11990,93,35290,65.76,33.98,0.26,-31.78,Wilson,65

In [79]:
# drop duplicate "county" column
tn_2006_gov=tn_2006_gov.drop(columns=['county'])
tn_2006_gov

,Electdate,County,Democratic,Republican,Other,sum_county_vote,Democratic_pct,Republican_pct,Other_pct,Rep_Margin,INDEX_NO
0,2006-11-07,Anderson,16881,6049,80,23010,73.36,26.29,0.35,-47.07,79
1,2006-11-07,Bedford,7240,3215,46,10501,68.95,30.62,0.44,-38.33,26
2,2006-11-07,Benton,4128,1273,49,5450,75.74,23.36,0.90,-52.38,41
3,2006-11-07,Bledsoe,2274,1560,27,3861,58.90,40.40,0.70,-18.50,31
4,2006-11-07,Blount,23433,11791,141,35365,66.26,33.34,0.40,-32.92,52
...,...,...,...,...,...,...,...,...,...,...,...
90,2006-11-07,Wayne,2232,1831,26,4089,54.59,44.78,0.64,-9.81,6
91,2006-11-07,Weakley,7233,2621,68,9922,72.90,26.42,0.69,-46.48,56
92,2006-11-07,White,5231,2140,58,7429,70.41,28.81,0.78,-41.60,67
93,2006-11-07,Williamson,35058,25384,63,60505,57.94,41.95,0.10,-15.99,44
94,2006-11-07,Wilson,23207,11990,93,35290,65.76,33.98,0.26,-31.78,65

In [80]:
tn_2006_gov.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95 entries, 0 to 94
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Electdate        95 non-null     datetime64[ns]
 1   County           95 non-null     object
 2   Democratic       95 non-null     int64
 3   Republican       95 non-null     int64
 4   Other            95 non-null     int64
 5   sum_county_vote  95 non-null     int64
 6   Democratic_pct   95 non-null     float64
 7   Republican_pct   95 non-null     float64
 8   Other_pct        95 non-null     float64
 9   Rep_Margin       95 non-null     float64
 10  INDEX_NO         95 non-null     int64
dtypes: datetime64[ns](1), float64(4), int64(5), object(1)
memory usage: 8.9+ KB

In [81]:
tn_2006_gov.to_excel(r'../data/2006_election/tn_2006_gov.xlsx',index=False)